@charset "utf-8";
/* CSS 格式书写开发人员约束规范 ****************************************************************** 

1.所有CSS属性，除了空属性可以单行之外，即使只有一个属性，也必须换行,但是后期发布版本压缩什么的请随意压缩。


2.所有缩进都用 TAB， 而不是空格。


3.绑定到HTML元素的CSS属性，除非经过深思熟虑，排除后期污染到其它HTML标签属性，不然一律通过CLASS或者ID来写CSS 
	例如：  
		a {xxxx},  
		div{xxxx}, 
		li {xxxx}, 
		span {xxxx} 这种全局通用HTML标签样式是禁止书写。


4.禁止样式过多嵌套，尽量不要超过3层
	例如：
		.a {xxx}
		.a .b {xxx}
		.a .b .c {xxxx}


5.不要滥用缩写去耍帅or偷懒,省了几个字节会造成后面维护人员很大麻烦
	例如:font:12px/20px "simsun"


********************************************************************************************  */
html, body { height: 100%; font-family: "Helvetica Neue",Helvetica, "微软雅黑",Arial,Verdana,sans-serif; }
.my-wrapper { height: 100%; min-height: 100%; }
.my-navbar { position: absolute; top: 0; left:0; width: 100%; z-index: 2;}
.one-nav { padding: 52px 0 0; }
.two-nav { padding: 92px 0 0; }

.my-top-brand {position: relative; padding-left: 60px; margin-right: 25px;}
.rems-logo { background: url('../img/header/rems-logo.png') no-repeat; width: 32px; height: 31px; position: absolute; top: 10px; left: 15px;}

.my-content {
    height: 100%; box-sizing: border-box;
}
.rems-top-words { }
.content-inner {
    position: relative;
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
    height: 100%;
}
.my-right,
.my-left {
    height: 100%;
}
.my-right { background: pink;}
.my-left { background: green;}
.my-section { height: 100%; }
.subTitle,
.my-sub-nav { display: inline-block; vertical-align: top; }
.subTitle { position:relative; width: 235px; height: 40px; line-height: 40px; text-align: center; background: #e0e1e3 ; color: #5d5d5d; font-size: 17px; }
.rems-logo-tail { width: 0; height: 0; border-bottom:50px solid transparent; border-left: 25px solid #007993; position: absolute; top: 0; right: -25px; }
.rems-sub-tail { width: 0; height: 0; border-bottom:40px solid transparent; border-left: 20px solid #e0e1e3 ; position: absolute; top: 0; right: -20px; }
.ycjc-offset { margin-left:179px; }
.nygl-offset { margin-left:179+86px; }
.pgzd-offset { margin-left:179+86*2px; }
.pgzdzj-offset { margin-left:179+86*3+15px; }
/* global title list */
.title-list { margin-bottom: 0; }
.title-list > li {
   float: left; 
   color: #999;
   padding-right: 20px;
   cursor: pointer;
}
.title-list > li:hover {
    color: #000;
}
.title-list > li.active {
    color: #000;
    position: relative;
}
.nor {border-left: 1px solid #ddd;}
.nor > a { color: #5e5e5e; }
/* global card config */
.card-wrapper { padding: 10px; }
.my-card { position: relative; height: 50%; box-sizing: border-box; min-height: 50%; padding: 10px;}
.my-card-top {
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 10px 10px 0 10px;
}
.card-title {
    background: #fafafa;
    position: relative;
    border: 1px solid #ddd;
    border-style: solid solid none none;
}
.card-subtitle { 
    background: #fff; padding: 0px 15px; line-height: 50px; height:50px; box-sizing: border-box;
    border: 1px solid #ddd; border-style: none solid;
}
.card-subtitle li { font-size: 12px; color: #646464; }
.card-button-resize { position: absolute; top: 10px; right: 12px; }
.navy { color: #1a9bb8; }
.chart-box {
    height: 100%;  
    /*padding-top: 92px;*/
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 102px 10px 10px; /*top 92+10*/
}
.chart-box-no-sub {
    padding: 52px 10px 10px;
}
/* login */
.my-login {
    background: #e1edf8 url('../img/login/log_mid.png') no-repeat center;
    position: relative;
}
.my-login-form {
    position: absolute; top: 50%; left: 50%;
    transform: translate(50%, -100%);
    width: 210px;
}
/*icon fonts*/
.ttt { font-size: 16px; color: #39c;}
@font-face {
	font-family: 'icomoon';
	src:url('../img/icons/fonts/icomoon.eot?lkd161');
	src:url('../img/icons/fonts/icomoon.eot?#iefixlkd161') format('embedded-opentype'),
		url('../img/icons/fonts/icomoon.ttf?lkd161') format('truetype'),
		url('../img/icons/fonts/icomoon.woff?lkd161') format('woff'),
		url('../img/icons/fonts/icomoon.svg?lkd161#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
	content: "\e600";
}
.icon-temp:before {
	content: "\e601";
}

/*highcharts*/
.highcharts-box {
    height: 100%;
    background: #999;
}

/*修改bootstrap部分*/
/* 二级导航 */
.my-tab-content {
    position: absolute; top: 50px; left: 0;
    width: 100%; background: #eee;
}
@media (max-width: 768px){
    .my-tab-content {
        position: static; top: auto; left: auto;
        background: #eee;
    }
}
/* 弹出层 */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* tools class */
.m100 {  min-height: 100%; }
.h100 { height: 100%; }
.pr { position: relative; }
.mg0 { margin: 0; }
.pd0 { padding: 0; }
.vat > li { vertical-align: top;}
.pdr0 { padding-right: 0; }
.pdl0 { padding-left: 0; }
.mb0 { margin-bottom: 0; }
