@charset "utf-8";
/* CSS 格式书写开发人员约束规范 ****************************************************************** 

1.所有CSS属性，除了空属性可以单行之外，即使只有一个属性，也必须换行,但是后期发布版本压缩什么的请随意压缩。


2.所有缩进都用 TAB， 而不是空格。


3.绑定到HTML元素的CSS属性，除非经过深思熟虑，排除后期污染到其它HTML标签属性，不然一律通过CLASS或者ID来写CSS 
	例如：  
		a {xxxx},  
		div{xxxx}, 
		li {xxxx}, 
		span {xxxx} 这种全局通用HTML标签样式是禁止书写。


4.禁止样式过多嵌套，尽量不要超过3层
	例如：
		.a {xxx}
		.a .b {xxx}
		.a .b .c {xxxx}


5.不要滥用缩写去耍帅or偷懒,省了几个字节会造成后面维护人员很大麻烦
	例如:font:12px/20px "simsun"


********************************************************************************************  */
html, body { height: 100%; font-family: "Helvetica Neue",Helvetica, "微软雅黑",Arial,Verdana,sans-serif; }
.my-wrapper { height: 100%; min-height: 100%; }
.my-navbar { position: absolute; top: 0; left:0; width: 100%; z-index: 2;}
.one-nav { padding: 52-11px 0 0; }
.two-nav { padding: 92-11px 0 0; }

.my-top-brand {position: relative; padding-left: 60px; margin-right: 25px;}
.rems-logo { background: url('../img/header/rems-logo.png') no-repeat; width: 32px; height: 31px; position: absolute; top: 7px; left: 15px;}

.my-content {
    height: 100%; box-sizing: border-box;
}
.rems-top-words { }
.content-inner {
    position: relative;
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
    height: 100%;
}
.my-right,
.my-left {
    height: 100%;
}
.my-right { background: pink;}
.my-left { background: green;}
.my-section { overflow: auto; height: 100%; min-height: 100%; background: #ddd;}
.subTitle,
.my-sub-nav { display: inline-block; vertical-align: top; }
.subTitle { 
    position:relative; width: 235px; height: 36px; line-height: 36px; text-align: center; background: #e0e1e3 ; color: #5d5d5d; font-size: 17px;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  
    }

.rems-logo-tail { width: 0; height: 0; border-bottom:45px solid transparent; border-left: 22.5px solid #007993; position: absolute; top: 0; right: -21.5px; }
.rems-sub-tail { width: 0; height: 0; border-bottom:36px solid transparent; border-left: 18px solid #e0e1e3 ; position: absolute; top: 0; right: -18px; }

.ycjc-offset { margin-left:179px; }
.nygl-offset { margin-left:179+86px; }
.pgzd-offset { margin-left:179+86*2px; }
.pgzdzj-offset { margin-left:179+86*3+15px; }

/* gnhn modal */
.gnhn-header { background: #fafafa; position: relative;}
.gnhn-switch-icon {
    width: 18px; height: 14px; display: inline-block; 
    /*position: absolute;*/
    float: right;
    cursor: pointer;
}
.gnhn-switch-icon01 {
    /*top: 0px; right: 0px; */
    background: url('/img/gnhn/gnhn-switch-icon01.png') no-repeat;
    padding-right: 30px;
}
.gnhn-switch-icon02 {
    /*top: 0px; right: 0px; */
    background: url('/img/gnhn/gnhn-switch-icon02.png') no-repeat;
    padding-right: 45px;
}
/* global title list */
.title-list { margin-bottom: 0; }
.title-list > li {
   float: left; 
   color: #999;
   padding-right: 20px;
   cursor: pointer;
}
.title-list > li:hover {
    color: #000;
}
.title-list > li.active {
    color: #000;
    position: relative;
}
.nor {border-left: 1px solid #ddd;}
.nor > a { color: #5e5e5e; }
/* top bar and bottom cont structure */
.top-bar {
    width: 100%;
    padding: 20px 20px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #DDD none repeat scroll 0% 0%;
}
.top-bar-inner {
    background: #F1F1F1 none repeat scroll 0% 0%;
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 5px;
}
.top-bar-label { line-height: 25px;}
div.bottom-cont {
    padding: 76px 10px 10px; height: 100%;
}
div.charts-cont-2-level {
    padding: 48px 10px 10px; height: 100%;
}
.bottom-title >.nav-tabs > li > a {
    font-size: 16px; color: #363636;
}
.nav-tabs > li > span {
    font-size: 16px; color: #363636;
    padding:  6.5px 15px;
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    display: inline-block;
}
.jgfx-date-box { width: 210px; }
.jgfx-top-padding {padding: 8px;}
.gnhn-modal-charts { height: 250px; }
.gnhn-modal-title { font-size: 16px; color: #363636; text-align: center; }
/* 供能耗能小图标 */
.gnhnIcon { font-size: 24px; position: absolute; top: 10px; right: 20px; color: #1ca6c5; cursor: pointer; }
.disableIcon { color: #000; cursor: default; }
        
/* global card config */
.card-wrapper { padding: 10px; }
.my-card { position: relative; height: 50%; box-sizing: border-box; min-height: 50%; padding: 10px;}
.my-card-top {
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 10px 10px 0 10px;
}
.card-title {
    background: #fafafa;
    position: relative;
    border: 1px solid #ddd;
    border-style: solid solid none none;
}
.card-subtitle { 
    background: #fff; padding: 8px 15px 0;  box-sizing: border-box;
    border: 1px solid #ddd; border-style: none solid;
}
.card-subtitle li { font-size: 12px; color: #646464; }
.card-button-resize {  color: #cccccc; position: absolute; top: 10px; right: 12px; }
.card-button-resize:hover { cursor: pointer; color: #0d90ae; }
.navy { color: #1a9bb8; }
.chart-box {
    height: 100%;  
    /*padding-top: 92px;*/
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 102-17px 10px 10px; /*top 92+10*/
    /*position: relative;*/
}
.chart-box-no-sub {
    padding: 52px 10px 10px; /* with padding-top 10px */
}
.zhi-style { line-height: 30px; padding: 0 10px; }
/* login */
.my-login {
    background: #e1edf8 url('../img/login/log_mid.png') no-repeat center;
    position: relative;
}
.my-login-form {
    position: absolute; top: 50%; left: 50%;
    transform: translate(50%, -100%);
    width: 210px;
}
/*icon fonts*/
.ttt { font-size: 16px; color: #39c;}
@font-face {
	font-family: 'icomoon';
	src:url('../img/icons/fonts/icomoon.eot?lkd161');
	src:url('../img/icons/fonts/icomoon.eot?#iefixlkd161') format('embedded-opentype'),
		url('../img/icons/fonts/icomoon.ttf?lkd161') format('truetype'),
		url('../img/icons/fonts/icomoon.woff?lkd161') format('woff'),
		url('../img/icons/fonts/icomoon.svg?lkd161#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
	content: "\e600";
}
.icon-temp:before {
	content: "\e601";
}

/*highcharts*/
.highcharts-box {
    height: 100%;
    background: #999;
}

/*修改bootstrap部分*/
/* collapse */
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
/* 二级导航 */
.my-tab-content {
    position: absolute; top: 45px; left: 0;
    width: 100%; background: #eee;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
@media (max-width: 768px){
    .my-tab-content {
        position: static; top: auto; left: auto;
        background: #eee;
    }
}
/* 弹出层 */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* global loading */
.loader-wrapper{ 
    position: absolute; top: 0; left: 0; z-index: 9;
    /*position: relative;*/
    background: rgba(255,255,255,.5); width: 200px; height: 200px; }
    .loader,
.loader:before,
.loader:after {
  background: #1A9BB8;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  /*margin: 88px auto;*/
  margin:  auto;
  top:50%;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #1A9BB8;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #1A9BB8;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #1A9BB8;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #1A9BB8;
    height: 5em;
  }
}

/* tools class */
.m100 {  min-height: 100%; }
.h100 { height: 100%; }
.h50 { height: 50%; }
.pr { position: relative; }
.mg0 { margin: 0; }
.pd0 { padding: 0; }
.vat > li { vertical-align: top;}
.pdr0 { padding-right: 0; }
.pdl0 { padding-left: 0; }
.mb0 { margin-bottom: 0; }
.ib { display: inline-block; vertical-align: top;}
.pt10 {padding: 10px 0 0;}
.pt10l10 {padding: 10px 10px 0 0;}
.pt10r10 {padding: 10px 0 0 10px;}
.pb10 { padding: 0 0 10px 0; }
.pr10 { padding-right: 10px;}
.brn { border: none!important; }
.gray { color: #aaaaaa!important;}
input.radio { display: inline-block; vertical-align: sub; }
.cp { cursor: pointer; }
/*if 1500*/
@media (max-width: 1500px)  { 
    .ycjc-offset { margin-left:0; }
    .nygl-offset { margin-left:0; }
    .pgzd-offset { margin-left:0; }
    .pgzdzj-offset { margin-left:0; }
    .jgfx-date-box { width: 139px; }
    .jgfx-top-right-none {display: none;}
}
/*if 1366*/
@media (max-width: 1200px)  { 
    .subTitle { width: 80px;}
}
/*if 800x600*/
@media (max-width: 900px)  { 
    .rems-top-words{ display: none; }
    .subTitle { width: 80px;}
    .ycjc-offset { margin-left:0; }
    .nygl-offset { margin-left:0; }
    .pgzd-offset { margin-left:0; }
    .pgzdzj-offset { margin-left:0; }
    .jgfx-date-box { width: 139px; }
    .jgfx-top-right-none {display: none;}
    .gyt-charts { width: 350px;}
    .my-sub-nav  > li > a { padding: 8px 5px!important; }
    .jgfx-info-words {width: auto!important;}
    .jgfx-info-box { width: 450px!important; }
    .jgfx-info-box-line > span { font-size: 12px!important; }
    .jgfx-top-right { display: none; }
    .zbbg-top-line ul {position: absolute;top: 49px;left: 5%;}
    .zbbg-top-line { padding-top: 50px; }
}
