<% include header-top.html %>
<link rel="stylesheet" href="/css/bb.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<% include header-bottom.html %>
	<!--报表-->
	<div id="bb" class="my-section bb-wrapper">
            <div class="toolbar">
                <ul class="list-inline fl">
                    <li>选择报表</li>
                    <li><select class="selectpicker" id="reportTemplateSelect">
                            <option>地源热泵运行记录表</option>
                            <option>锅炉运行记录表</option></select></li>
                    <li>查看方式：</li>
                    <li><input type="radio" name="inspectmode" />天</li>
                    <li><input type="radio" name="inspectmode" />月</li>
                    <li><input type="radio" name="inspectmode" checked="checked" />年</li>
                    <li><input class="datepicker" data-date-format="mm/dd/yyyy"></li>
                    <li class="btn_li">
                    	<button type="button" id="myButton" class="btn btn-info">查看数据</button>
                </ul>
			<div class="btn_two">
				<span class="tu"><input name="Fruit" type="checkbox" value="" />带图</span>
                <button type="button" title="导出到Excell" class="btn btn-default fr" aria-label="Left Align">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>

                <button id="btnPopPicture" type="button" class="btn btn-default fr" data-toggle="modal" data-target="#myModal-dyrb">
                    		查看图表 </button>
             </div>
            </div>


       	    <div class="tab_all">
       	    	<div>
					<table class="table table-bordered table-striped tab_fon">
						   <thead>
						      <tr>
						         <th colspan="7">分布式能源站能源统计表</th>
						      </tr>
						   </thead>
					   <tbody>
					      <tr>
					         <td  rowspan="2">属性</td>
					         <td colspan="3">CCHP子系统</td>
					         <td colspan="3">电空调子系统</td>	
					      </tr>
					      <tr>
					         <td>1#发电机</td>
					         <td>2#发电机</td>
					         <td>1#烟气余热溴冷机</td>
							  <td>A1#离心机</td>
					         <td>A2#离心机</td>
					         <td>A3#离心机</td>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr><tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗电量（Kwh）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					      <tr>
					         <td>耗气量（Nm3）</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
					         <td>0.00</td>
							 <th>0.00</th>
					         <th>0.00</th>
					      </tr>
					   </tbody>
					</table>
			    </div>
       	    </div> 
    </div>        
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/bb'])
		});
	</script>
<% include footer.html %>
