<% include header.html %>
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/cbfx', "css!../../css/cbfx"])
		});
	</script>
    	<!--成本分析-->
	<div id="cbfx" class="my-section cbfx-wrapper">
		<div class="cbfx-top col-md-12 col-lg-12 col-xs-12">
			<div class="panel panel-default panel_title">
				<h4>成本收益分析</h4>
				<div class="btn-group btn-group-sm btn_anniu">
					<button type="button" class="btn btn-default">日</button>
					<button type="button" class="btn btn-default">月</button>
					<button type="button" class="btn btn-default">年</button>
				</div>

			</div>
		</div>
		<div class="cbfx-bottom">
			<div class="cbfx-bottom-left col-md-9 col-lg-9 col-xs-9">
				<div class="my-card">
					<div class="my-card-top">
						<div class="panel panel-default module module-1 no">
							<div class="panel-heading clearfix panl">
								<ul class="nav nav-tabs pull-left">
									<li>
										<h3>气象信息</h3>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="chart-box haichar"></div>
				</div>

				<div class="my-card">
					<div class="my-card-top">
						<div class="panel panel-default module module-1 no">
							<div class="panel-heading clearfix">
								<ul class="nav nav-tabs pull-left">
									<li>
										<h3>气象信息</h3></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="chart-box haitwo"></div>
				</div>
			</div>
			<!--右侧-->
			<div class="cbfx-bottom-right cb_jdu">
				<div class="cbfx_temp">
					<div class="cb_name">fsfs</div>
					<div class="progress cb_jdtemp">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							60%
						</div>
					</div>
				</div>

				<div class="cbfx_temp">
					<div class="cb_name">fsfs</div>
					<div class="progress cb_jdtemp">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							60%
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<% include footer.html %>
