<% include header.html %>


<div class="my-content ">
    <div class="content-inner">

        	<div class="my-box col-md-6 col-lg-6 col-xs-12">
				<div class="box">
                  <div class="box-header">
                    <span class="title">饼图B</span>
                    <ul class="box-toolbar">
                      <li><a class="btn btn-blue btn-mini">占位</a></li>
                    </ul>
                  </div>
                  <div class="box-content padded">
                    
                  </div>
                </div>              
            </div>
                    	<div class="my-box col-md-6 col-lg-6 col-xs-12">
				<div class="box">
                  <div class="box-header">
                    <span class="title">饼图B</span>
                    <ul class="box-toolbar">
                      <li><a class="btn btn-blue btn-mini">占位</a></li>
                    </ul>
                  </div>
                  <div class="box-content padded">
                    
                  </div>
                </div>              
            </div>
                    	<div class="my-box col-md-6 col-lg-6 col-xs-12">
				<div class="box">
                  <div class="box-header">
                    <span class="title">饼图B</span>
                    <ul class="box-toolbar">
                      <li><a class="btn btn-blue btn-mini">占位</a></li>
                    </ul>
                  </div>
                  <div class="box-content padded">
                    
                  </div>
                </div>              
            </div>
                    	<div class="my-box col-md-6 col-lg-6 col-xs-12">
				<div class="box">
                  <div class="box-header">
                    <span class="title">饼图B</span>
                    <ul class="box-toolbar">
                      <li><a class="btn btn-blue btn-mini">占位</a></li>
                    </ul>
                  </div>
                  <div class="box-content padded">
                    
                  </div>
                </div>              
            </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="/js/index.js"></script>

<% include footer.html %>