<% include header-top.html %>
<link rel="stylesheet" href="/css/gnfx.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<% include header-bottom.html %>
    	<!--耗能分析-->
	<div id="hnfx" class="my-section ">
        <div class="top-bar col-md-12 col-lg-12 col-xs-12">
            <div class="top-bar-inner">
                <span class="ib top-bar-label">查看方式：</span>
                <div class="jgfx-date-box ib">
                    <div class='input-group date datetimepicker1'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
		<div class="bottom-cont card-wrapper pt63">
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>当日耗能水平</a></li>
                       </ul>
                       <span class="glyphicon glyphicon-option-horizontal gnhnIcon" aria-hidden="true"  data-toggle="tooltip" data-placement="top" data-original-title="耗能详情"  data-title="当日耗能水平" data-num="0"></span>
                    </div>
                </div>
                <div id="drgnsp" class="chart-box charts-cont-2-level "></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>当月耗能水平</a></li>
                       </ul>
                       <span class="glyphicon glyphicon-option-horizontal gnhnIcon" aria-hidden="true"  data-toggle="tooltip" data-placement="top" data-original-title="耗能详情" data-title="当月耗能水平" data-num="1"></span>
                    </div>
                </div>
                <div id="dygnsp" class="chart-box charts-cont-2-level"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>前日耗能水平</a></li>
                       </ul>
                       <span class="glyphicon glyphicon-option-horizontal gnhnIcon" aria-hidden="true"  data-toggle="tooltip" data-placement="top" data-original-title="耗能详情"  data-title="前日耗能水平" data-num="2"></span>
                    </div>
                </div>
                <div id="qrgnsp" class="chart-box charts-cont-2-level"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>当年耗能水平</a></li>
                       </ul>
                       <span class="glyphicon glyphicon-option-horizontal gnhnIcon" aria-hidden="true"  data-toggle="tooltip" data-placement="top" data-original-title="耗能详情" data-title="当年耗能水平" data-num="3"></span>
                    </div>
                </div>
                <div id="dngnsp" class="chart-box charts-cont-2-level"></div>
            </div>
        </div>
	</div>


  <!--弹出层-->
<div id="myModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header gnhn-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">当日供能水平详细</h4>
            </div>
            <div class="modal-body" id="gnhnModalBody">
                <div class="gnhn-modal-block">
                    <p class="gnhn-modal-title">耗电</p>
                    <div class="gnhn-modal-charts" id="gnhnHaodianCharts"></div>
                </div>
                <div class="gnhn-modal-block">
                    <p class="gnhn-modal-title">耗水</p>
                    <div class="gnhn-modal-charts" id="gnhnHaodianCharts2"></div>
                </div>
            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/hnfx'])
		});
	</script>
<% include footer.html %>
