<% include header-top.html %>
    <link rel="stylesheet" href="/css/index2.css" media="all">
    <link rel="stylesheet" href="/css/swiper.css" media="all">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=6e3a0f19a1e718c8e43263005c1b2f73"></script>
<% include header-bottom.html %>

        <!--首页-->
        <div id="index" class="my-section">
            <!-- 地图部分 -->
            <div id="allmap" class="my-map"></div>
             
            <!-- 地图部分 -->
            <!--项目选择-->
            <div class="my-index-right">
                <div data-list=0 class="my-index-switch my-index-switch-detail my-index-switch-list"></div>
                <div id="myCarousel" data-ride="carousel" data-interval="false"  class="my-index-projects-wrapper carousel slide">
                <div class="carousel-inner">
                    <div class="item">
                        <div class="my-index-project-box clearfix">
                            <div class="project-list-left">
                                <span class="glyphicon glyphicon-map-marker project-icon"></span>
                                <p class="project-name">株洲神农城泛能站</p>
                                <p class="project-loc">湖南省 长沙市长沙县</p>
                                <span class="pro-left-line"></span>
                            </div>
                            <div class="project-list-img-wrapper">
                                <div class="project-list-img ">
                                    <img src="/img/index/loacationimg00.jpg" class="" alt="">
                                </div>
                                <div class="project-list-detail ">
                                    <ul>
                                        <li>
                                            <p class="detail-name">能源综合利用率</p>
                                            <p class="detail-val">0.38</p>
                                        </li>
                                        <li>
                                            <p class="detail-name">可再生能源利用率</p>
                                            <p class="detail-val">0.38</p>
                                        </li>
                                        <li>
                                            <p class="detail-name">累计节能率</p>
                                            <p class="detail-val">0.38</p>
                                        </li>
                                        <li>
                                            <p class="detail-name">CO2减排率</p>
                                            <p class="detail-val">0.38</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="project-list-right">
                                <div class="project-circle project-circle-top">
                                    <span>供能</span><span class="pro-num">6.1万</span>
                                </div>
                                <div class="pro-type">
                                    <div class="glyphicon glyphicon-home pro-type-icon"></div>
                                    <div class="pro-type-name">医院m2</div>
                                </div>
                                <div class="project-circle project-circle-bottom">
                                    <span>建筑</span><span class="pro-num">10.1万</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item"></div>
                </div>
                    <div class="index-control-box">
                    
                        <!-- Carousel controls -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--项目选择-->
        </div>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/index2']);
            });
        </script>
<% include footer.html %>
