<% include header-top.html %>
    <link rel="stylesheet" href="/css/index.css" media="all">
    <link rel="stylesheet" href="/css/swiper.css" media="all">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&services=false&ak=508d19135c7e834335c9fd942625c161"></script>
<% include header-bottom.html %>

        <!--首页-->
        <div id="index" class="my-section">
            <!-- 地图部分 -->
            <div id="allmap" class="my-map"></div>
			 
            <!-- 地图部分 -->
            <!--项目选择-->
            <div class="my-index-right">
                <div data-list=0 class="my-index-switch my-index-switch-detail my-index-switch-list"></div>
                <div class="my-index-projects-wrapper">
                    <div class="my-index-project-box clearfix">
                        <div class="project-list-left">
                            <span class="glyphicon glyphicon-map-marker project-icon"></span>
                            <p class="project-name">株洲神农城泛能站</p>
                            <p class="project-loc">湖南省 长沙市长沙县</p>
                            <span class="pro-left-line"></span>
                        </div>
                        <div class="project-list-img-wrapper">
                            <div class="project-list-img ">
                                <img src="/img/index/loacationimg00.jpg" class="" alt="">
                            </div>
                            <div class="project-list-detail ">
                                <ul>
                                    <li>
                                        <p class="detail-name">能源综合利用率</p>
                                        <p class="detail-val">0.38</p>
                                    </li>
                                    <li>
                                        <p class="detail-name">可再生能源利用率</p>
                                        <p class="detail-val">0.38</p>
                                    </li>
                                    <li>
                                        <p class="detail-name">累计节能率</p>
                                        <p class="detail-val">0.38</p>
                                    </li>
                                    <li>
                                        <p class="detail-name">CO2减排率</p>
                                        <p class="detail-val">0.38</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-list-right">
                            <div class="project-circle project-circle-top">
                                <span>供能</span><span class="pro-num">6.1万</span>
                            </div>
                            <div class="pro-type">
                                <div class="glyphicon glyphicon-home pro-type-icon"></div>
                                <div class="pro-type-name">医院m2</div>
                            </div>
                            <div class="project-circle project-circle-bottom">
                                <span>建筑</span><span class="pro-num">10.1万</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--项目选择-->
        </div>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/index']);
            });
        </script>
<% include footer.html %>
