<% include header-top.html %>
<link rel="stylesheet" href="/css/jgfx.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<% include header-bottom.html %>
    	<!--结构分析-->
	<div id="jgfx" class="my-section cbfx-wrapper">
        <div class="top-bar col-md-12 col-lg-12 col-xs-12" style="padding: 10px 20px 0;">
            <div class="jgfx-top-inner">
                <span class="ib jgfx-top-label">查看方式：</span>
                <div class="jgfx-top-right ib date-controls-box">
                    <div class="btn-group ">
                        <button type="button" class="btn btn-default " data-range="all" data-tar="jgfxDate">累计</button>
                        <button type="button" class="btn btn-default active" data-range="1d" data-tar="jgfxDate">日</button>
                        <button type="button" class="btn btn-default" data-range="1m" data-tar="jgfxDate">月</button>
                        <button type="button" class="btn btn-default" data-range="1y" data-tar="jgfxDate">年</button>
                    </div>
                </div>
                <div class="jgfx-date-box ib">
                    <div class='input-group date datetimepicker1' id="jgfxDate">
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
		<div class="bottom-cont-jgfx card-wrapper" style="padding:53px 20px 20px;">
            <div class="jgfx-bottom-left col-md-6 col-xs-6 col-lg-6 h100">
                <div class="my-card h100 pb10 jgfx-total-box">
                    <div class="my-card-top pd0">
                        <div class="card-title jgfx-title jgfx-card-title">
                           <ul class="nav nav-tabs ">
                                <li class="nor"><a>总体能源结构</a></li>
                           </ul>
                        </div>
                    </div>
                    <div id="ztnyjg" class="chart-box  chart-box-no-sub jgfx-chart-box"></div>
                </div>
                <div class="jgfx-info-box" style="height:110px;margin:-10px;">
                    <div class="jgfx-info-box-line">
                        <span class="jgfx-info-words"><span class="jgfx-info-title"><span id="" class="dateTips">当日</span>能源总量：<span id="dateZT">1345.8</span><span>kWh</span></span></span>
                        <span class="jgfx-info-words jgfx-info-words-sep "><span class="jgfx-info-title"><span id="" class="dateTips">当日</span>天然气：<span id="dateTRQ">1345.8</span><span>kWh</span></span></span>
                    </div>
                    <div class="jgfx-info-box-line">
                        <span class="jgfx-info-words"><span class="jgfx-info-title"><span id="" class="dateTips">当日</span>可再生能源：<span id="dateKZS">1345.8</span><span>kWh</span></span></span>
                        <span class="jgfx-info-words jgfx-info-words-sep"><span class="jgfx-info-title"><span id="" class="dateTips">当日</span>清洁能源：<span id="dateQJ">1345.8</span><span>kWh</span></span></span>
                    </div>
                </div>
            </div>
            <div class="jgfx-bottom-right col-md-6 col-xs-6 col-lg-6 h100 pd0">
                <div class="my-card h50 pd0">
                    <div class="my-card-top pd0">
                        <div class="card-title jgfx-title jgfx-card-title">
                           <ul class="nav nav-tabs ">
                                <li class="nor"><a>清洁能源结构</a></li>
                           </ul>
                        </div>
                    </div>
                    <div id="qjnyjg" class="chart-box  chart-box-no-sub jgfx-chart-box"></div>
                </div>
                <div class="my-card h50 pd0">
                    <div class="my-card-top pd0">
                        <div class="card-title jgfx-title jgfx-card-title">
                           <ul class="nav nav-tabs ">
                                <li class="nor"><a>可再生能源</a></li>
                           </ul>
                        </div>
                    </div>
                    <div id="kzsny" class="chart-box  chart-box-no-sub jgfx-chart-box"></div>
                </div>
             
            </div>
        </div>
	</div>
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/jgfx'])
		});
	</script>
<% include footer.html %>
