<% include header-top.html %>
<link rel="stylesheet" href="/css/nxjc.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<% include header-bottom.html %>

       <!--指标分析-->
        <div id="" class="my-section card-wrapper">
            <!--4分格-->
            <div class="my-card col-md-12 col-lg-12 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title bottom-title">
                       <!--<ul class="nav nav-tabs ">-->
                            <!--<li class="active" data-flag="0"><a>冷温水情况</a></li>-->
                            <!--<li class="" data-flag="1"><a>冷却水情况</a></li>-->
                       <!--</ul>-->
                       <ul class="nav nav-tabs " id="jzfxTabs">
                            <li class="nor"><span>水循环状态</span></li>
                       </ul>
                    </div>
                    <div class="card-subtitle clearfix">
                        <ul class="list-inline pull-left">
                            <li>
                                <select class="form-control selectpicker" id="lqlwSel1">
                                  <option>供水温度</option>
                                  <option>供回水温差</option>
                                  <option>供水流量</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control selectpicker" id="lqlwSel2">
                                  <option>供水温度</option>
                                  <option>供回水温差</option>
                                  <option>供水流量</option>
                                </select>
                            </li>
                        </ul>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="nyzhlylDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="jgfx-top-right pull-right pr10">
                            <div class="btn-group  zoom_controls date-controls-box" id="nyzhlylButton">
                                <button type="button" class="btn btn-default active" data-chart="line" data-range="1d" data-tar="nyzhlylDate1">日</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1m" data-tar="nyzhlylDate1">月</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1y" data-tar="nyzhlylDate1">年</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="nyzhlyl" class="chart-box charts-cont"></div>
            </div>
            <div class="my-card col-md-12 col-lg-12 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><span>泵组运行状态</span></li>
                       </ul>
                    </div>
                    <div class="card-subtitle clearfix">
                        <ul class="list-inline pull-left">
                            <li>
                                <select class="form-control selectpicker" id="bzyxfaSel1">
                                  <option>冷温水</option>
                                  <option>冷却水</option>
                                  <option>地源循环</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control selectpicker" id="bzyxfaSel2">
                                  <option>泵组扬程曲线</option>
                                  <option>效率曲线</option>
                                </select>
                            </li>
                        </ul>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="jnlDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="jgfx-top-right pull-right pr10">
                            <div class="btn-group  zoom_controls date-controls-box" id="jnlButton">
                                <button type="button" class="btn btn-default active" data-chart="line" data-range="1d" data-tar="jnlDate1">日</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1m" data-tar="jnlDate1">月</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1y" data-tar="jnlDate1">年</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="jnl" class="chart-box charts-cont"></div>
            </div>
        </div>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/jzfx']);
            });
        </script>
<% include footer.html %>
