<% include header-top.html %>
<link rel="stylesheet" href="/css/login.css" media="all">
<% include header-bottom-no-nav.html %>
        <!--登录页-->
          <!--bug修改-->
         <div id="login" class="my-section my-login" style="overflow-x:hidden;">
         <!-- <div id="login" class="my-section my-login">-->
        	
        	   <div class="login_footer">
				<span>版权(V20150327)所有：新奥智能能源有限公司</span>
				<a href="http://www.enn.cn" target="_blank"><img class="logoIcon ml10" src="/img/login/login.png"></a>
				</div>
				
				
				
            <!--<form class="my-login-form" method="post">-->
            <form method="post" action="/api/login.json">
            <div class="my-login-form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="username"></label>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input class="form-control" type="text" id="username" name="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="password"></label>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input class="form-control" type="password" id="password" name="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="checkbox"></div>
                <button type="submit" class="btn btn-info btn-block">登录</button>
                <p class="l_pwd"><a href="#" >忘记密码</a></p>
            </div>
            </form>
 <!--说明-->
            <div class="conteny">
            	  <table class="putform loginnav">
				<tbody>
					<tr>
						<td>
							<table class="putform">
								<tbody>
									<tr>
										<td class="nav-tit yhty">
											<img src="/img/login/login1.png" />
										</td>
										<td class="tleft">
											<p class="txt">用户体验</p>
											<p>手机、移动终端随时随地项目运营情况全面掌握</p>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<table class="putform">
								<tbody>
									<tr>
										<td class="nav-tit ycfw">
											<img src="/img/login/login2.png" />
										</td>
										<td class="tleft">
											<p class="txt">远程服务</p>
											<p>设备和系统多种形式、多种方法关联分析快速展示</p>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<table class="putform">
								<tbody>
									<tr>
										<td class="nav-tit qlwj">
											<img src="/img/login/login3.png" />
										</td>
										<td class="tleft">
											<p class="txt">潜力挖掘</p>
											<p>建筑能耗、工艺系统运行数据挖掘，节能评估</p>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
            </div>
                
                
                
                
                
            
                
            
            
        
        </div>



        <script>
            requirejs(['js/common'], function (common) {
                requirejs(['app/login']);
            });
        </script>
<% include footer.html %>
