<% include header-top.html %>
	<link rel="stylesheet" href="/css/lsxgl.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
	<% include header-bottom.html %>
		<!--类属性管理-->
		<div id="" class="my-section">
			<div class="all_big">

				<!--左边-->
				<div class="all_left">
					
					<div class="dropdown all_drop">
						<select class="form-control selectpicker btn_allone" id="lsx_selectId">
								<option>dd</option>
								</select>
					</div>
					<div class="tab_all">
						<ul class="list-inline">
							<li val="2" class="lili">
								<span class="glyphicon glyphicon-pla" aria-hidden="true"></span>选择设备类
							</li>
						</ul>
					</div>

					<div class="classListdiv">
						<div class="wawei">
							<ul class="ziti" id="lsx_ul">
							</ul>
						</div>
					</div>
				</div>

				<!--右边-->

				<div class="all_right">
					<div class="all_xl">
						<div class="jgfx-top-inner">
						<p>类型属性：
							<select class="form-control selectpicker btn_all" id="lsxglLxsxSelect">
							</select>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 属性分类：
						<select class="form-control selectpicker btn_all" id="">
							<option>全部属性分类</option>
							<option>静态属性</option>
							<option>动态属性</option>
							</select>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 属性名称：
						<input type="text" class="form-control tab_input">
						<button id="queryDataBtn" type="button" class="btn btn-info btn-sm">查看数据</button>
						</p>
					</div>
					</div>
					<!--表格-->
					<div class="tabdivtwo">
					<div class="tab_two2">
						<table class="table table-striped table-hover tab_bord">
							<thead>
								<tr class="even">
									<td class="datalist-no">序号</td>
									<td>属性名称</td>
									<td>所属类</td>
									<td>属性类型</td>
									<td>属性分类</td>
									<td>备注</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody id="resultBody">
							<tr class="odd" >
									<td colspan='7'>请选择左侧菜单进行筛选</td>									
								</tr>							
							</tbody>
						</table>
					</div>
				</div>
				
				<!--弹出框-->
				<div id="bg"></div>
				<div id="tablediv">
					<div>
					<div class="titlesxgl"> 属性管理 <button type="button" class="close" id="colse"> &times;</button></div>
					
						<div class="zgybb">
							<div>属性名称： <input type="text" class="form-control" id="txtinput" ></div>
							属性类型：<select class="form-control" id="sxname">
								<option>dd</option>
								<option>aw</option>
								<option>ds</option>
								<option>we</option>
								<option>uj</option>
								</select>
						
							
							<div>属性分类：<select class="form-control" id="sxtype">
								<option>dd</option>
								<option>aw</option>
								<option>ds</option>
								<option>we</option>
								<option>uj</option>
								</select>
							</div>
							
							<div>属性关联：<select class="form-control" id="sxall">
								<option>dd</option>
								<option>aw</option>
								<option>ds</option>
								<option>we</option>
								<option>uj</option>
								</select>
							</div>
						</div>
								
						<div class="footerbtn">
							<button type="button" class="btn btn-info" >保存</button>
		            		<button type="button" class="btn btn-default" id="closediv">关闭</button>
						</div>
					</div>
				</div>
				
				</div>
			</div>
		</div>

		<script>
			requirejs(['../js/common'], function (common) {
			                requirejs(['app/lsxgl']);
			            });
		</script>
		<% include footer.html %>
