<% include header-top.html %>
	<link rel="stylesheet" href="/css/mksjpz.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
	<% include header-bottom.html %>
		<div id="" class="my-section">
				<div class="leftdiv">
					<div class="bt">
						<div id="mymenu">
						<div class="uldiv">
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">华北区</a></li>
								<ul class="ulli">
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">振西商贸广场</a></li>
										<ul class="ulliul">
											<li><span><img src="/img/mksjpz/tb3.png"></span><a href="#">1号泛能站</a></li>
											<li><span><img src="/img/mksjpz/tb3.png"></span><a href="#">2号泛能站</a></li>
											<li><span><img src="/img/mksjpz/tb3.png"></span><a href="#">3号泛能站</a></li>
											<li><span><img src="/img/mksjpz/tb3.png"></span><a href="#">4号泛能站</a></li>
										</ul>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">廊坊新朝阳广场</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">新奥科技园</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">中国工程院</a></li>
								</ul>
							</ul>
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">华东区</a></li>
								<ul class="ulli">
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">杭州海航（国际）商城</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">西安华润万象城</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">亭湖医院</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">南汇工业园区</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">东方伟业商业广场</a></li>
								</ul>
							</ul>
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">华中区</a></li>
								<ul class="ulli">
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">长沙黄花机场</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">株洲神农城</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">浏阳热力产业园</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">株洲职教城</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">兴隆化工</a></li>
								</ul>
							</ul>
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">华南区</a></li>
								<ul class="ulli">
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">肇庆新区</a></li>
								</ul>
							</ul>
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">西南区 </a></li>
							</ul>
	
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">豫皖区 </a></li>
								<ul class="ulli">
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">民生药业集团医药文化创意产业园</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">大明产业园</a></li>
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">新安产业集聚区</a></li>
								</ul>
							</ul>
							<ul class="one">
								<li><span><img src="/img/mksjpz/未标题-1.png" class="img_eld"></span><a href="#">山东区</a></li>
								<ul class="ulli">
									<li><span><img src="/img/mksjpz/让退.png" class="img_eld"></span><a href="#">中德生态园</a></li>
								</ul>
							</ul>
						</div>
						
					</div>
					</div>
				</div>
			

				<div id="second" class="tab_all">
					<div class="tabdivtop">
						<ul id="myTab" class="nav nav-tabs ">
							<span class="title_head">1#燃气发电组</span>
							<li><a href="#nxglpz" data-toggle="tab">能效管理</a></li>
							<li><a href="#nxjcpz" data-toggle="tab">能效监测</a></li>
							<li><a href="#glszym" data-toggle="tab">概览设置</a></li>
							<li class="active"><a href="#tabdivall" data-toggle="tab">页面参数配置</a></li>
						</ul>
						<ul id="myTabs">
							<li><a href="#div_four" data-toggle="tab">基线配置</a></li>
							<li><a href="#div_three" data-toggle="tab">能源价格配置</a></li>
							<li><a href="#div_two" data-toggle="tab">运行页面配置</a></li>
							<li class="active"><a href="#div_one" data-toggle="tab">项目概览</a></li>
						</ul>
						
						<ul  class="tab-pane fade" id="myTabs">
							<li><a href="#div_four" data-toggle="tab">站点图设置/3D图</a></li
							<li><a href="#div_four" data-toggle="tab">气象数据</a></li>
							<li><a href="#div_three" data-toggle="tab">实时监测设置</a></li>
							<li><a href="#div_two" data-toggle="tab">供能设置</a></li>
							<li class="active"><a href="#div_one" data-toggle="tab">耗能设置</a></li>
						</ul>
					</div>
					
					
					
				
				<div id="myTabContent" class="tab-content" id="myTabContent" class="tab-content">
				<!--基本设置-->
				
					<div class="tab-pane fade in active" id="tabdivall">
						<div id="div_one">
							<div class="borfey">
							    <font class="fontsixed">项目概览</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>1号能源站</option>
										<option>2号能源站</option>
										<option>3号能源站</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtd">页面名称</td>
		                                    <td class="widthtd">对应类型</td>
		                                    <td>页面路径</td>
		                                    <td class="widthtd">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>设计思路</td>
											<td><select class="form-control selectpicker btn_all" id="xmglpzselect">
												<option>图片</option><option>图片</option><option>图片</option></td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>项目现状</td>
											<td>sfs</td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/sz.png"  class="imgsrc"></td>
										</tr>
										<tr>
											<td>工艺设计</td>
											<td>sfs</td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td></td>
											<td>sfs</td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										</tbody>
									</table>
							</div>
						</div>
					
						<div id="div_two">
							<div class="borfey">
							    <font class="fontsixed">运行页面配置</font>
							    <div>
							    	<div class="btn-group  btn_se">
										<select class="form-control selectpicker btn_all" id="yxympzselect">
											<option>1号能源站</option>
											<option>2号能源站</option>
											<option>3号能源站</option>
										</select>
									</div>
									<button class="btn btn-info pull-right btnshow">新增</button>
									</div>
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td>页面名称</td>
		                                    <td>页面路径</td>
		                                    <td class="widthtd">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>三联供A</td>
											<td>http://rems/moduleconfig/initconfig?id=4&menuid=19/黄花机场3d效果图1.j</td>
											<td> </td>
										</tr>
										<tr>
											<td> </td>
											<td> </td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										</tbody>
									</table>
							</div>
						</div>
				
						<div id="div_three">
							<div class="borfey">
							    <font class="fontsixed">能源价格配置</font>
							    <div>
								     <div class="btn-group  btn_se">
										<select class="form-control selectpicker btn_all" id="nyjgpzselect">
											<option>1号能源站</option>
											<option>2号能源站</option>
											<option>3号能源站</option>
										</select>
										</div>
										<button class="btn btn-info pull-right btnshow">新增</button></div>
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td>属性名</td>
		                                    <td>单价元）</td>
		                                    <td>时间范围<br /> 开始时间-结束时间</td>
		                                    <td class="widthtd">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>水</td>
											<td>3.33</td>
											<td>0：00-0：00</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>电</td>
											<td>3.33</td>
											<td>0：00-0：00</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>气</td>
											<td>3.33</td>
											<td>0：00-0：00</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>								
										</tbody>
									</table>
							</div>
						</div>
				
						<div id="div_four">
							<div class="borfey">
							    <font class="fontsixed">基线配置</font>
							    <div>
								     <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="jxpzselect">
										<option>1号能源站</option>
										<option>2号能源站</option>
										<option>3号能源站</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td>属性名</td>
		                                    <td>类型</td>
		                                    <td>约束基准线</td>
		                                    <td>指导性基准线</td>
		                                    <td class="widthtd">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>CO2减排率</td>
											<td><select class="form-control selectpicker btn_all" id="xmglpzselect">
												<option>供冷</option><option>供热</option></td>
											<td><select class="form-control selectpicker btn_all" id="xmglpzselect">
												<option>日基准</option></td>
											<td>数值</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>指标名称等</td>
											<td>供热</td>
											<td>月基准</td>
											<td>数值</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>								
										</tbody>
									</table>
							</div>
						</div>
					</div>
					
				
				<!--概览设置-->
				<div class="tab-pane fade" id="glszym">
						<div id="div_ones">
							<div class="borfey">
							    <font class="fontsixed">耗能设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>黄花机场1#泛能站</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtds">属性显示名</td>
		                                    <td class="widthtds">能源属性</td>
		                                    <td class="widthtds">能源单位</td>
		                                    <td class="widthtds">成本属性</td>
		                                    <td class="widthtds">成本单位</td>
		                                    <td class="widthtds">图片</td>
		                                    <td class="widthtds">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>耗气</td>
											<td>耗气量</td>
											<td>Nm3</td>
											<td>耗气成本</td>
											<td>元</td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>耗电</td>
											<td>耗电量</td>
											<td>kWh</td>
											<td>耗电成本</td>
											<td>元</td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>耗水</td>
											<td>耗水量</td>
											<td>t</td>
											<td>耗水成本</td>
											<td>元</td>
											<td>sfdf</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										</tbody>
									</table>
							</div>
						</div>
						
						<div id="div_twos">
							<div class="borfey">
							    <font class="fontsixed">功能设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>黄花机场1#泛能站</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtdt">属性显示名</td>
		                                    <td class="widthtdt">能源属性</td>
		                                    <td class="widthtdt">能源单位</td>
		                                    <td class="widthtdt">图片</td>
		                                    <td class="widthtdt">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>供热</td>
											<td>制热量</td>
											<td>kWkh</td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>供冷</td>
											<td>制冷量</td>
											<td>kWkh</td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>发电</td>
											<td>供电量</td>
											<td>kWkh</td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>供蒸汽</td>
											<td>供蒸汽量</td>
											<td>t</td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>供热水</td>
											<td>供热水量</td>
											<td>t</td>
											<td></td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										</tbody>
									</table>
							</div>
						</div>
				
						<div id="div_threes">
							<div class="borfey">
							    <font class="fontsixed">实时监测设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>黄花机场1#泛能站</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtdt">属性显示名</td>
		                                    <td class="widthtdt">属性</td>
		                                    <td class="widthtdt">单位属性</td>
		                                    <td class="widthtdt">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>出水温度</td>
											<td>冷温水供水温度</td>
											<td>℃</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>流量</td>
											<td>冷温水总管流量</td>
											<td>m³/h</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>回水温度</td>
											<td>冷温水回水温度</td>
											<td>℃</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>系统能效</td>
											<td>系统能效</td>
											<td>%</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>										
										</tbody>
									</table>
							</div>
						</div>
						
						<div id="div_fors">
							<div class="borfey">
							    <font class="fontsixed">气象数据设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>环境</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtdt">对应图片</td>
		                                    <td class="widthtdt">项目名称</td>
		                                    <td class="widthtdt">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>项目站点图</td>
											<td>项目站点图</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>3D图①</td>
											<td>SNC1</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>3D图②</td>
											<td>SNC2</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>3D图③</td>
											<td>SNC3</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>		
										<tr>
											<td>3D图④</td>
											<td>SNC3</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>	
										</tbody>
									</table>
							</div>
						</div>
				
				</div>
				
				
				<!--能效监测-->
				<div class="tab-pane fade" id="nxjcpz">
					<div id="div_fores">
							<div class="borfey">
							    <font class="fontsixed">耗能结构设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>环境</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									
							</div>
						</div>
					
					<div id="div_twosg">
							<div class="borfey">
							    <font class="fontsixed">供能结构设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>环境</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
							</div>
						</div>
					
					<div id="nxjcpzes">
						<div class="borfey">
							    <font class="fontsixed">耗能功能结构换算系数维护</font>
							    <div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtds">序号</td>
		                                    <td class="widthtds">能源属性</td>
		                                    <td class="widthtds">换算系数</td>
		                                    <td class="widthtds">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>1</td>
											<td>耗水量</td>
											<td>1</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>2</td>
											<td>当前能耗</td>
											<td>0.0294</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>3</td>
											<td>制热量</td>
											<td>3.6</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										</tbody>
									</table>
							</div>
					</div>
					
					<div id="xtzbsz">
						<div class="borfey">
							    <font class="fontsixed">能源结构分析</font>
							    <div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtds">序号</td>
		                                    <td class="widthtds">主设备</td>
		                                    <td class="widthtds">主属性</td>
		                                    <td class="widthtds">子设备</td>
		                                    <td class="widthtds">子属性</td>
		                                    <td class="widthtds">操作</td>
		                                </tr>
		                            </thead>
									<tbody>
										
										</tbody>
									</table>
							</div>
					</div>
					
					<div id="nyjgfxpz">
							<div class="borfey">
							    <font class="fontsixed">气象数据设置</font>
							    <div>
								<button class="btn btn-info pull-right btnshow">新增</button></div>
															   
									<table class="table table-striped table-bordered table-hover table_fon">
										<thead class="sssbgl_thead">
		                                <tr class="even">
		                                    <td class="widthtdt">序号</td>
		                                    <td class="widthtdt">绑定设备名</td>
		                                     <td class="widthtdt">属性显示名</td>
		                                    <td class="widthtdt">属性名</td>
		                                     <td class="widthtdt">属性单位</td>
		                                    <td class="widthtdt">操作</td>
		                                </tr>
		                            </thead>
								<tbody>
										<tr>
											<td>1</td>
											<td>黄花机场1#泛能站</td>
											<td>节能率</td>
											<td>节能率</td>
											<td>％</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>2</td>
											<td>黄花机场1#泛能站</td>
											<td>节能率</td>
											<td>节能率</td>
											<td>％</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>3</td>
											<td>黄花机场1#泛能站</td>
											<td>节能率</td>
											<td>节能率</td>
											<td>％</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>
										<tr>
											<td>4</td>
											<td>黄花机场1#泛能站</td>
											<td>节能率</td>
											<td>节能率</td>
											<td>％</td>
											<td class="tubiao"><img src="/img/mksjpz/write.png"><img src="/img/mksjpz/write.png">
												<img src="/img/mksjpz/write.png"><img src="/img/mksjpz/sz.png"  class="imgsrc"></td></td>
										</tr>	
										</tbody>
									</table>
							</div>
						</div>
					
				</div>
				
				<!--能效管理-->
				<div class="tab-pane fade" id="nxglpz">
					<div id="div_foreesd">
							<div class="borfey">
							    <font class="fontsixed">系统能效设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>环境</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<ul class="ullispanpz">
									<li>系统供能</li>
									<li>系统耗能</li>
									<li>系统运行效率</li>
								</ul>
								<button class="btn btn-info pull-right btnshow">保存</button></div>
							</div>
						</div>
						
						<div id="div_divalltwo">
							<div class="borfey">
							    <font class="fontsixed">系统指标设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>环境</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<ul class="ullispanpz">
									<li>系统指标（率）</li>
									<li>系统指标（量）</li>
								</ul>
								<button class="btn btn-info pull-right btnshow">保存</button></div>
							</div>
						</div>
						
						
						<div id="div_divalltwo">
							<div class="borfey">
							    <font class="fontsixed">设备能效设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>已选择设备</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<div class="lxjulli">
									<ul class="ullispanpz">
										<li>离心机A1</li>
										<li>离心机A2</li>
										<li>离心机A3</li>
										<li>离心机B1</li>
										<li>离心机B2</li>
										<li>燃气直燃机</li>
										<li>燃气热水锅炉A1</li>
										<li>燃气热水锅炉A2</li>
										<li>燃气热水锅炉A3</li>
										<li>燃气热水锅炉B1</li>
									</ul>
								</div>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>已选择设备</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<div class="lxjulli">
									<ul class="ullispanpz">
										<li>单位供能</li>
										<li>单位耗能</li>
										<li>单位效率</li>
										<li>单位运行时长</li>
									</ul>
								</div>
								<button class="btn btn-info pull-right btnshow">保存</button></div>
						</div>
</div>
						</div>
						
						<div id="div_divalltwo">
							<div class="borfey">
							    <font class="fontsixed">系统成本设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>黄花机场1#泛能站</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<ul class="ullispanpz">
									<li>系统耗能</li>
									<li>系统成本</li>
								</ul>
								<button class="btn btn-info pull-right btnshow">保存</button></div>
							</div>
						</div>
						
						<div id="div_divalltwo">
							<div class="borfey">
							    <font class="fontsixed">系统成本设置</font>
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>已选择设备</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<div class="lxjulli">
									<ul class="ullispanpz">
										<li>1#燃气发电机</li>
										<li>2#燃气发电机</li>
										<li>2#离心式电制冷机</li>
									</ul>
								</div>
							    </div>
							    
							    <div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>选择成本设备</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<ul class="ullispanpz">
									<li>系统耗能</li>
									<li>系统成本</li>
								</ul>
								<button class="btn btn-info pull-right btnshow">保存</button></div>
							</div>
						</div>
						
						<div id="div_divalltwo">
							<div class="borfey">
							    <font class="fontsixed">系统成本设置</font>
							    <div>
								   <div class="btn-group  btn_se">
										<select class="form-control selectpicker btn_all" id="xmglpzselect">
											<option>已选择设备</option>
											<option>1#燃气内燃发电机</option>
											<option>2#燃气内燃发电机</option>
										</select>
									</div>
							    </div>
						 	<div>
							   <div class="btn-group  btn_se">
									<select class="form-control selectpicker btn_all" id="xmglpzselect">
										<option>选择成本设备</option>
										<option>1#燃气内燃发电机</option>
										<option>2#燃气内燃发电机</option>
									</select>
								</div>
								<ul class="ullispanpz">
									<li>系统耗能</li>
									<li>系统成本</li>
								</ul>
								<button class="btn btn-info pull-right btnshow">保存</button></div>
							</div>
						</div>
				</div>
				
				</div>
			</div>	
				
				
				<!--弹框			-->
				<div id="bg"></div>
				<div id="TKtablediv">
					<div>
					<div class="zgybb">
						<p class="titlep">模块数据配置<button type="button" class="close" id="colse"> &times;</button></p></div>		
						<div class="tilefino">
							<p class="rows roeone">报表名称：<select class="allinput"><option>fsdsd</option><option>sdfs</option></select>	</p>
							<p class="rows rowtwo">单价：<input type="text" class="form-control allinput"  placeholder=""></p>
							<p class="rows datadiv">时间范围日期：<div class="jgfx-date-box">
	                            <div class='input-group date datetimepicker1' id="nyzhlylDate2">
	                                <input type='text' class="form-control" />
	                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	                            </div>
	                        </div>
	                        <p class="zhi-style">~</p>
	                        <div class="jgfx-date-box">
	                            <div class='input-group date datetimepicker1' id="nyzhlylDate1">
	                                <input type='text' class="form-control"/>
	                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	                            </div>
	                        </div></p>
						</div>
					</div>
					<div class="div_footer">
						<button class="btn btn-success">提交</button>
						<button class="btn btn-default closde">取消</button>
					</div>
					
				</div>
			
			<div id="bg1"></div>
				<div id="coliseselect">
					<input type="hidden" id="currentClasspropertyid" name="currentClasspropertyid">
					<p class="truep">确定</p>
					<p class="truesel">确认删除？</p>
					<div class="footerbtnclos">
						<button type="button" class="btn btn-info" id="btnTrue">确定</button>
	            		<button type="button" class="btn btn-default" id="closedivsel">关闭</button>
					</div>
				</div>
			
        </div>
		<script>
			requirejs(['../js/common'], function (common) {
			                requirejs(['app/mksjpz']);
			            });
		</script>
		<% include footer.html %>
