<% include header.html %>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/nxfx']);
            });
        </script>

        <style type="text/css">
        .chart-box5 {
          height: 100%;

          padding-top: 0px;
          border: 1px solid transparent;
          }
        </style>
       <!--能效检测-->
        <div id="nxjc" class="my-section">
            <!--4分格-->
            <div id="singleBox" class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                <li><h4>能耗情况</h4></li>
                            </ul>
                            <button class="btn btn-default pull-right" type="button" data-toggle="modal" data-target=".nxfx-modal-1">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        
                           <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择工艺系统</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                       
                    </div>
                </div>
                <div id="qxxxChartBox" class="chart-box"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                <li><h4>供能情况</h4></li>
                                
                            </ul>
                            <button class="btn btn-default pull-right" type="button" data-toggle="modal" data-target=".nxfx-modal-2">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择工艺系统</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择指标</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="chart-box1" style="height: 100%; background: #39c; padding-top: 120px;"></div>       
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                 <li><h4>整体系统指标</h4></li>
                            </ul>
                            <button class="btn btn-default pull-right" type="button" data-toggle="modal" data-target=".nxfx-modal-3">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                              <h4 class="pull-left">能源综合利用率</h4>
                             
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="chart-box2" style="height: 100%; background: #39c; padding-top: 120px;"></div>       
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                <li><h4>整体系统指标</h4></li>
                            </ul>
                            <button class="btn btn-default pull-right" type="button" data-toggle="modal" data-target=".nxfx-modal-4">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                              <h4 class="pull-left">节能率</h4>
                             
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="chart-box3" style="height: 100%; background: #39c; padding-top: 120px;"></div>       
            </div>
        </div>




<!--弹出框开始1-->
<div class="modal fade bs-example-modal-lg nxfx-modal-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">能耗情况</h4>
        </div>
            <!--4分格--> 
                <div class="">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                           <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择工艺系统</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>             
                    </div>
                </div>
                <div id="" class="chart-box4"></div>
    </div>
  </div>
</div>



<!--弹出框开始2-->
<div class="modal fade bs-example-modal-lg nxfx-modal-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">供能情况</h4>
        </div>
            <!--4分格--> 
                <div class="">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                           <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择工艺系统</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1' data-date="10/15/2015 12:00 AM">
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control"  value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>             
                    </div>
                </div>
                <div id="" class="chart-box5"></div>
    </div>
  </div>
</div>




<!--弹出框开始3-->
<div class="modal fade bs-example-modal-lg nxfx-modal-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">整体系统指标</h4>
        </div>
            <!--4分格--> 
                <div class="">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                           <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择工艺系统</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>             
                    </div>
                </div>
                <div id="" class="chart-box6"></div>
    </div>
  </div>
</div>




<!--弹出框开始4-->
<div class="modal fade bs-example-modal-lg nxfx-modal-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">整体系统指标</h4>
        </div>
            <!--4分格--> 
                <div class="">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                           <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                  <select class="form-control">
                                      <option>请选择工艺系统</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-2">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>             
                    </div>
                </div>
                <div id="" class="chart-box7"></div>
    </div>
  </div>
</div>










<% include footer.html %>
