<% include header.html %>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/nxfx']);
            });
        </script>
       <!--能效检测-->
        <div id="nxfx2" class="my-section">
            <!--4分格-->
            <div id="singleBox" class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                <li><h4>CCHP</h4></li>
                            </ul>
                            <button class="btn btn-default pull-right" type="button">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                   <select class="form-control">
                                      <option>热效率</option>
                                      <option>热电比</option>
                                      <option>余热利用率</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default active">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div id="qxxxChartBox" class="chart-box"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                <li><h4>常规调峰</h4></li>
                                
                            </ul>
                            <button class="btn btn-default pull-right" type="button">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                   <select class="form-control">
                                      <option>冷机热泵</option>
                                      <option>锅炉</option>
                                      <option>溴化锂</option>
                                      <option>地/水源热泵</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default active">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="chart-box1" style="height: 100%; background: #39c; padding-top: 120px;"></div>       
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                 <li><h4>蓄能调峰</h4></li>
                            </ul>
                            <button class="btn btn-default pull-right" type="button">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                   <select class="form-control">
                                      <option>蓄能量</option>
                                      <option>释能量</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default active">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="chart-box2" style="height: 100%; background: #39c; padding-top: 120px;"></div>       
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div id="chart-0" class="panel panel-default module module-1 no">
                        <div id="singleBoxTitle" class="panel-heading clearfix">
                            <ul class="nav nav-tabs pull-left">
                                <li><h4>输配</h4></li>
                            </ul>
                            <button class="btn btn-default pull-right" type="button">
                                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            </button>
                        </div>
                            <div class="panel-body clearfix">
                              <div class="pull-left cbfx-date-box">
                                   <select class="form-control">
                                      <option>冷温水输配</option>
                                      <option>冷却水输配</option>
                                      <option>冷却塔</option>
                                    </select>
                              </div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1 '>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-right date-sep">至</div>
                              <div class="pull-right cbfx-date-box col-md-3">
                                  <div class='input-group date datetimepicker1'>
                                      <input type='text' class="form-control" value="10/15/2015 12:00 AM"/>
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="cbfx-top-right pull-right">
                                  <div class="btn-group ">
                                      <button type="button" class="btn btn-default active">日</button>
                                      <button type="button" class="btn btn-default">月</button>
                                      <button type="button" class="btn btn-default">年</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="chart-box3" style="height: 100%; background: #39c; padding-top: 120px;"></div>       
            </div>
        </div>
<% include footer.html %>
