<% include header-top.html %>
<link rel="stylesheet" href="/css/nxjc.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>

       <!--能效监测-->
        <div id="nxjc" class="my-section card-wrapper">
            <!--4分格-->
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>供能信息</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <ul class="list-inline ">
                            <li>
                                <select class="form-control selectpicker" id="gyxtxlSel">
                                  <option>供冷</option>
                                  <option>供热</option>
                                </select>
                            </li>
                            <li>供冷量：<span class="navy">1234Kwh</span></li>
                        </ul>
                    </div>
                </div>
                <div id="gongnengCharts" class="chart-box charts-cont"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title clearfix  bottom-title">
                       <ul class="nav nav-tabs ">
                           <li class="nor"><a  href="">系统指标</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize card-button-resize-xtzb" data-multiple="1" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="chart-box chart-box-no-sub clearfix">
                    <div id="pieChart1" class="xtzb-charts"></div>
                    <div id="pieChart2" class="xtzb-charts"></div>
                    <div id="pieChart3" class="xtzb-charts"></div>
                    <div id="pieChart4" class="xtzb-charts"></div>
                </div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>耗能信息</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <ul class="list-inline ">
                            <li>
                                <select class="form-control selectpicker" id="gyxtxlSel">
                                  <option>耗气</option>
                                  <option>耗水</option>
                                  <option>耗电</option>
                                </select>
                            </li>
                            <li>耗气量：<span class="navy">1234Kwh</span></li>
                        </ul>
                    </div>
                </div>
                <div id="haonengCharts" class="chart-box charts-cont"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>工艺系统效率</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <ul class="list-inline ">
                            <li>
                                <select class="form-control selectpicker" id="gyxtxlSel">
                                  <option>默认系统名称</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </li>
                            <li>瞬时效率：<span class="navy">15%</span></li>
                        </ul>
                    </div>
                </div>
                <div id="gyxtxl" class="chart-box charts-cont"></div>
            </div>
        </div>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/nxjc']);
            });
        </script>
<% include footer.html %>
