<% include header-top.html %>
<link rel="stylesheet" href="/css/qxgl.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
   <!--权限管理-->
    <div id="" class="my-section">
		<div class="tab_two2">
				<table class="table table-striped table-hover tab_bord">
					<thead>
						<tr class="odd">
								<td>角色名称</td>
								<td>描述</td>
								<td>创建时间</td>
								<td>状态</td>
								<td>操作</td>
							</tr>
					</thead>
					
					<tbody id="qxgl_tab">
						
				</tbody>
			</table>
		</div>

    </div>	

        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/qxgl']);
            });
        </script>
<% include footer.html %>
