<% include header-top.html %>
	<link rel="stylesheet" href="/css/rhpz.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
	<% include header-bottom.html %>
		<div id="" class="my-section">
			<div id="divleft">
				<div class="bt">
					<p><a href="#" id="aimg"><img src="/img/xmxxgl/22.png" />全部</a><span id="inspan"></span></p>
					<div id="mymenu">
					<div class="uldiv">
						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">华北区</a></li>
							<ul class="ulli">
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">振西商贸广场</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">廊坊新朝阳广场</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">新奥科技园</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">中国工程院</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">华东区</a></li>
							<ul class="ulli">
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">杭州海航（国际）商城</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">西安华润万象城</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">亭湖医院</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">南汇工业园区</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">东方伟业商业广场</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">华中区</a></li>
							<ul class="ulli">
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">长沙黄花机场</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">株洲神农城</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">浏阳热力产业园</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">株洲职教城</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">兴隆化工</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">华南区</a></li>
							<ul class="ulli">
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">肇庆新区</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">西南区 </a></li>
						</ul>

						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">豫皖区 </a></li>
							<ul class="ulli">
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">民生药业集团医药文化创意产业园</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">大明产业园</a></li>
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">新安产业集聚区</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/gysxpz/未标题-1.png" class="img_eld"></span><a href="#">山东区</a></li>
							<ul class="ulli">
								<li><span><img src="/img/gysxpz/让退.png" class="img_eld"></span><a href="#">中德生态园</a></li>
							</ul>
						</ul>
					</div>
					
					<div style="display: none;" class="nonedlp">
						<ul>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">亭湖医院泛能站</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">土壤源热泵机组1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">燃气内燃发电机组1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">直燃型溴化锂机组1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">直燃型溴化锂机组2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">燃气型蒸锅炉1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">燃气型蒸锅炉2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">烟气余热型蒸锅炉1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却塔1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却塔2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却塔3</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却塔4</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却塔6</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">土壤源热泵循环水泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">土壤源热泵循环水泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷温水热泵循环水泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷温水热泵循环水泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷温水循环泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷温水循环泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却水循环泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却水循环泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">冷却水循环泵3</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">锅炉循环水泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">锅炉循环水泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">锅炉循环水泵3</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">锅炉循环水泵4</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">高温缸套水循环泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">高温缸套水循环泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">生活热水循环泵1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">生活热水循环泵2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">蒸汽型溴化锂机组1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">水-水板式换热器1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">水-水板式换热器2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">汽-水板式换热器1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">汽-水板式换热器2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">一层1号新风机房1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">一层1号新风机房2</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">一层2号新风机房1</li>
							<li><img class="iconimg" src="/img/gysxpz/lefticon.png">一层2号新风机房2</li>
						</ul>
					</div>
					
				</div>
				</div>
			</div>
				
			<div id="right" class="tab_all">
				<ul id="myTab" class="nav nav-tabs">
					<span class="title_head">1#燃气发电组</span>
				</ul>
				
					<table class="table table-bordered taballdiv">
						<thead>
								<th>属性名称</th>
								<th>采集点编码</th>
							    <th>OPC名字</th>
							    <th>标签类型</th>
							    <th>超限最小值</th>
							    <th>限最小值</th>
							    <th>函数名</th>
							    <th>标签</th>
							    <th>操作</th>
							
						</thead>
						<tbody class="auion">
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							   <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td><img src="/img/rhpz/write.png" ></td>
							</tr>
							<tr>
							 	<td>运行状态</td>
								<td>GSHP1_State</td>
							    <td>...</td>
							    <td><select><option>下拉选项</option><option>下拉选项</option></select></td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							    <td>...</td>
							   <td><img src="/img/rhpz/write.png"></td>
							</tr>
						</tbody>
					</table>
			</div>
			
			
			
			
			
        </div>
		<script>
			requirejs(['../js/common'], function (common) {
			                requirejs(['app/rhpz']);
			            });
		</script>
		<% include footer.html %>
