<% include header-top.html %>
<link rel="stylesheet" href="/css/rzgl.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
   <!--日志管理-->
    <div id="" class="my-section">
		<div class="all_conten">
				<div class="all_xl">
					<div class="jgfx-top-inner">
					操作人：<select class="form-control selectpicker btn_all" id="">
								<option> 所有人</a></option>
								<option> 新奥管理者</a></option>
								<option> 新奥浏览者</a></option>
								<option> 任志清</a></option>
								<option> 刘奇央</a></option>
								<option> 张开翼</a></option>
								<option> 陆志军</a></option>
								<option> 雷军成</a></option>
								<option> 胡文喆</a></option>
								<option> 谭小明</a></option>
								<option> 陈军</a></option>
								<option> 于佳</a></option>
								<option> 齐书荣</a></option>
								<option> 戴国良</a></option>
								<option> 孙森才</a></option>
								<option> 吴飞</a></option>
								<option> 试用账户</a></option>
								<option> 郑磊</a></option>
							</select>	
					&nbsp;&nbsp;
					日志类型：<select class="form-control selectpicker btn_all" id="">
								<option>所有类型</option>
								<option>登录日志</option>
								<option>务日志</option>
								<option>错误日志</option>
							</select>
							&nbsp;&nbsp;
					模块：<input type="text" class="form-control tab_input">						
					&nbsp;&nbsp;
					操作类型：<select class="form-control selectpicker btn_all" id="">
								<option>所有类型</option>
								<option>登录系统</option>
								<option>退出系统</option>
								<option>数据分析</option>
								<option>数据更新</option>
								<option>数据导出</option>
								<option>系统异常</option>
								<option>未定义类型</option>
							</select>
					&nbsp;&nbsp;
					创建时间：
                        <div class="jgfx-date-box">
                            <div class='input-group date datetimepicker1' id="nyzhlylDate2">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <p class="zhi-style">至</p>
                        <div class="jgfx-date-box">
                            <div class='input-group date datetimepicker1' id="nyzhlylDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                  	

					<button type="button" class="btn btn-info">搜索</button>
			    	<div class="btn-group tub"><img src="/img/rzgl/tu.png" ></div>
				</div>
			</div>
				<!--表格-->
				<div class="tab_two2">
					<div class="twoskd">
					<table class="table table-striped table-hover tab_bord">
						<thead>
							<tr class="even">
								<td>操作人</td>
								<td>日志类型</td>
								<td>模块</td>
								<td>操作系统</td>
								<td>IP</td>
								<td>日志信息</td>
								<td>创建时间</td>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							<tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr><tr class="odd">
								<td>新奥管理者</td>
								<td>登录日志</td>
								<td>登录日志</td>
								<td>登录系统</td>
								<td>117.144.16.98</td>
								<td></td>
								<td>创建时间</td>						
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>

    </div>	

        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/rzgl']);
            });
        </script>
<% include footer.html %>
