<% include header-top.html %>
<link rel="stylesheet" href="/css/sbssgl.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
   <!--设备设施管理-->
    <div id="" class="my-section">
		<div class="bigdiv">
			<div class="leftdiv">
				<div class="bt">
					<a href="#"><img src="/img/sbssgl/22.png" />全部</a>
				</div>
				
				<div id="mymenu">
					<div class="uldiv">
						<ul class="one">
						<li><span><img src="/img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">华北区</a></li>
							<ul>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">振西商贸广场</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">廊坊新朝阳广场</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">新奥科技园</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">中国工程院</a></li>
							</ul>
					</ul>
					<ul class="one">
							<li><span><img src="/img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">华中区</a></li>
							<ul>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">长沙黄花机场</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">株洲神农城</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">浏阳热力产业园</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">株洲职教城</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">兴隆化工</a></li>
							</ul>
						</ul>
					<ul class="one">
						<li><span><img src="img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">华中区</a></li>
						<ul>
							<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">长沙黄花机场</a></li>
							<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">株洲神农城</a></li>
							<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">浏阳热力产业园</a></li>
							<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">株洲职教城</a></li>
							<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">兴隆化工</a></li>
						</ul>
					</ul>
					<ul class="one">
						<li><span><img src="/img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">华南区</a></li>
							<ul>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">肇庆新区</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">西南区 </a></li>
						</ul>

					<ul class="one">
							<li><span><img src="/img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">豫皖区</a></li>
							<ul>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">民生药业集团医药文化创意产业园</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">大明产业园</a></li>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">新安产业集聚区</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/sbssgl/未标题-1.png" class="img_eld"></span><a href="#">山东区</a></li>
							<ul>
								<li><span><img src="/img/sbssgl/让退.png" class="img_eld"></span><a href="#">中德生态园</a></li>
							</ul>
						</ul>
					</div>
				</div>
			</div>


			<div class="rightdiv">
				<div class="seardiv">
						<div class="jgfx-top-inner">					<div class="btn-group  btn_se">						<button type="button" class="btn btn-default dropdown-toggle btn_all" data-toggle="dropdown">							设备种类<span class="caret"></span>
						</button>
						<ul class="dropdown-menu group_ul" role="menu">							<li val="-1"><a href="">全部属性类型</a></li>							<li val="1"><a href="">常规</a></li>							<li val="2"><a href="">系统耗能</a></li>							<li val="3"><a href="">系统供能</a></li>							<li val="4"><a href="">系统效率</a></li>							<li val="5"><a href="">系统成本</a></li>							<li val="3"><a href="">系统供能</a></li>							<li val="4"><a href="">系统效率</a></li>							<li val="5"><a href="">系统成本</a></li>							<li val="3"><a href="">系统供能</a></li>							<li val="4"><a href="">系统效率</a></li>							<li val="5"><a href="">系统成本</a></li>							<li val="3"><a href="">系统供能</a></li>							<li val="4"><a href="">系统效率</a></li>							<li val="5"><a href="">系统成本</a></li>							<li val="3"><a href="">系统供能</a></li>
							<li val="4"><a href="">系统效率</a></li>
							<li val="5"><a href="">系统成本</a></li>
							<li val="3"><a href="">系统供能</a></li>
							<li val="4"><a href="">系统效率</a></li>
							<li val="5"><a href="">系统成本</a></li>
						</ul>
					</div>
					<div class="input-append serag">
						<input class="span2" id="appendedInputButton" type="text">
						<button class="btn" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索</button>					</div>				</div>
				</div>
				<div class="tabdiv">
					<table class="table table-striped table-hover tab_bord">
						<thead>
							<tr class="even">
								<td>设备设施名称</td>
								<td>设备种类</td>
								<td>设备所属能源站</td>
								<td>图表</td>
								<td>备注</td>								<td>操作</td>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>
							<tr class="odd">
								<td>神农城1#泛能站</td>
								<td>能源站</td>
								<td></td>
								<td></td>
								<td><span><img src="/img/sbssgl/sz.png"/></span></td>
								<td><span><img src="/img/sbssgl/write.png"/></span></td>
							</tr>			   			</tbody>					</table>
				</div>
			</div>
		</div>

    </div>	

        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/sbssgl']);
            });
        </script>
<% include footer.html %>
