<% include header-top.html %>
<link rel="stylesheet" href="/css/sbssgl.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
   <!--设备设施管理-->
    <div id="" class="my-section">
		<div class="bigdiv">
			<div class="leftdiv">
				<div class="bt">
					<a href="#"><img src="/img/sbssgl/22.png"/>全部</a>
				</div>
				
				<div id="mymenu">
					
				</div>
			</div>


			<div class="rightdiv">
				<div class="seardiv">
						<div class="jgfx-top-inner">					<div class="btn-group  btn_se" >
						<select class="form-control selectpicker btn_all" id="sbshglselect">								
							</select>
					</div>
					<div class="input-append serag">
						<input class="form-control span2" type="text" placeholder="" id="appendedInputButton">
						<button class="btn btn-info btn-sm " type="button">搜索</button>
						<button type="button" id="addView" class="btn btn-info btn-sm">添加</button>					</div>				</div>
				</div>
				<div class="tabdiv">
					<table class="table table-striped table-hover tab_bord">
						<thead>
							<tr class="even">
								<td>设备设施名称</td>
								<td>设备种类</td>
								<td>设备所属能源站</td>
								<td>图表</td>
								<td>备注</td>								<td>操作</td>
							</tr>
						</thead>
						<tbody id="resultBody">
										   			</tbody>					</table>
				</div>
			</div>
			
			<!--弹出框-->
				<!--删除框-->
				<div id="bg1"></div>
				<div id="coliseselect">
					<p class="truep">确定</p>
					<p class="truesel">确定删除此项吗？</p>
					<div class="footerbtnclos">
						<button type="button" class="btn btn-info" >确定</button>
	            		<button type="button" class="btn btn-default" id="closedivsel">关闭</button>
					</div>
				</div>
				
				
				
				
				<!--编辑框-->
				<div id="bg"></div>
				<div id="tablediv">
					<div>
						<div class="titlesxgl"> 设备设施管理
							<button type="button" class="close" id="colse"> &times;</button>
						</div>

						<div class="zgybb">
							<input type="hidden" id="saveFlag">
							<div class="div_hgjn sxlj">设备设施名称：
								<input type="text" class="form-control" id="txtinput" name="txtinput">
							</div>

							<div class="div_hgjn sbzldl">设备种类：
								<select class="form-control  btn_all btn-sm" id="edittype">
								</select>
							</div>

							<div class="div_hgjn">设备所属能源站：
								<select class="form-control btn_all btn-sm" id="editpane">
								</select>
							</div>

							<div class="div_hgjn tubiao">图标：
								<input type="text" class="form-control" id="edietimg">
							</div>

							<div class="div_hgjn fgrs">备注：
								<textarea id="edittxet"></textarea>
							</div>
						</div>

						<div class="footerbtn">
							<button type="button" class="btn btn-info" id="saveEditBtn">保存</button>
							<button type="button" class="btn btn-default" id="closediv">关闭</button>
						</div>
					</div>
				</div>

				
			
		</div>
    </div>	

        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/sbssgl']);
            });
        </script>
<% include footer.html %>
