<% include header-top.html %>
<link rel="stylesheet" href="/css/sfgl.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
   <!--身份管理-->
    <div id="" class="my-section">
		<div class="tab_two2">
				<table class="table table-striped table-hover tab_bord">
					<thead>
						<tr class="odd">
								<td>身份名称</td>
								<td>所属项目</td>
								<td>描述</td>
								<td>创建时间</td>
								<td>状态</td>
								<td>操作</td>
							</tr>
					</thead>
					
					<tbody id="sfgltab">
						<tr class="odd">
								<td>超级管理员身份</td>
								<td>新奥泛能站类型组</td>
								<td>数据中心级系统角色，可跨项目组。</td>
								<td>2014-03-31 00：00：00</td>
								<td><span><img src="/img/sfgl/sz.png"/></span></td>
								<td><span><img src="/img/sfgl/write.png"/></span></td>							
							</tr>
						
				</tbody>
			</table>
		</div>

    </div>	

        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/sfgl']);
            });
        </script>
<% include footer.html %>
