<% include header.html %>
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/sjjc'])
		});
	</script>

	<!--数据监测-->
	<div id="sjjc" class="my-section">
		<!--两栏-->
		<div id="index" class="index_all">
            <div class="panel panel-default h100 mg0">
                <div class="panel-body m100 h100 pr pd0">
					<div class="btn-group sjjc-left-dropdown">
						<button type="button" class="btn btn-default dropdown-toggle btn-lg botton_all" data-toggle="dropdown">
							选择设备类型 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu menu_li" role="menu">
							<li><a href="#">全部类型设备</a></li>
							<li><a href="#">能源站</a></li>
							<li><a href="#">太阳能光热系统</a></li>
						</ul>
					</div>
					<div class="rode_li h100 sjjc-left-list">
						<ul class="rodr">
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>黄花机场1#泛能站</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>1#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>2#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>3#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>4#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>5#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>6#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
						</ul>
					</div>
                </div>
            </div>

		</div>

		<div id="second" class="tab_all">
			<ul id="myTab" class="nav nav-tabs ">
				<li class="active pull-right"><a href="#dtsx" data-toggle="tab">动态属性</a></li>
				<li class="pull-right"><a href="#jtsx" data-toggle="tab">静态属性</a></li>
			</ul>
			<div id="myTabContent" class="tab-content ">
				<div class="tab-pane fade in active" id="dtsx">
					<div class="panel-body panel_all pd0">
						<table class="table table-hover table-striped table_fon">
							<thead>
								<tr class="row">
									<td class="col-md-6">参数</td>
									<td class="col-md-6">各项指标</td>
								</tr>
							</thead>
							<tbody>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="jtsx">
					<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
				</div>
			</div>
		</div>
	</div>
	<% include footer.html %>
