<% include header-top.html %>
<link rel="stylesheet" href="/css/sjjc.css" media="all">
<% include header-bottom.html %>

	<!--数据监测-->
	<div id="sjjc" class="my-section">
		<!--两栏--><div id="index" class="index_all">
            <div class="panel panel-default h100 mg0">
                <div class="panel-body m100 h100 pr pd0">
					<div class="btn-group sjjc-left-dropdown">
						<button type="button" class="btn btn-default dropdown-toggle btn-lg botton_all" data-toggle="dropdown">
							选择设备类型 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu menu_li" role="menu">
							<li><a href="#">全部类型设备</a></li>
							<li><a href="#">能源站</a></li>
							<li><a href="#">太阳能光热系统</a></li>
						</ul>
					</div>
					<div class="rode_li h100 sjjc-left-list">
						<ul class="rodr">
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>黄花机场1#泛能站</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>1#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>2#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>3#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>4#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>5#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>6#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>7#燃气内燃发电机组</a></li>
						</ul>
					</div>
                </div>
            </div>

		</div>

		<div id="second" class="tab_all">
			<ul id="myTab" class="nav nav-tabs ">
				<li class="active"><a href="#dtsx" data-toggle="tab">动态属性</a></li>
				<li><a href="#jtsx" data-toggle="tab">静态属性</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="dtsx">
					<div class="panel-body panel_all pd0">
						<table class="table table-hover table-striped table_fon">
							<thead>
								<tr class="row">
									<td class="col-md-6">参数</td>
									<td class="col-md-6">黄花机场泛能站-黄花机场1-#泛能站</td>
								</tr>
							</thead>
							<tbody>
								<tr class="row">
									<td class="col-md-6">可再生能源利用率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷温水供水温度
										<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span>
									</td>
									<td class="col-md-6">12.3℃</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷温水回水温度
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">13.5℃</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷温水总管流量
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">2340.47m³/hc</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗电量</td>
									<td class="col-md-6">225.95kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">制冷量
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">0kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">制热量</td>
									<td class="col-md-6">0kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">系统能效</td>
									<td class="col-md-6">0.8</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">太阳能光热总产热量
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">太阳光能电总产量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">实际能源站消耗量</td>
									<td class="col-md-6">452.22(吨标煤)</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">节能率
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">0.88</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">CO2减排率
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">0.33%</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">SO2减排率
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">73.41</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">NOx减排率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗气量
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">32Nm³</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗水量</td>
									<td class="col-md-6">0t</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供电量</td>
									<td class="col-md-6">1131kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计耗气量</td>
									<td class="col-md-6">1470.56Nm³</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计耗电量</td>
									<td class="col-md-6">3642.83kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计发电量</td>
									<td class="col-md-6">0kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计供冷热量</td>
									<td class="col-md-6">15280.17kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计耗水量
									<span class="glyphicon glyphicon-align-left btn_coin" aria-hidden="true"></span></td>
									<td class="col-md-6">2076.31t</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计供冷量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计供热量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">静态投资回收期</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">动态投资回收期</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗气成本</td>
									<td class="col-md-6">1241.6元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累耗电成本 </td>
									<td class="col-md-6">145.88元</td>
								</tr><tr class="row">
									<td class="col-md-6">耗水成本</td>
									<td class="col-md-6">0元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">天然气价</td>
									<td class="col-md-6">3.88元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">电价 </td>
									<td class="col-md-6">0.72元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">水价</td>
									<td class="col-md-6">4元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">单位面积耗能量</td>
									<td class="col-md-6">3.88元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">单位面积耗冷/热负荷</td>
									<td class="col-md-6">3.88元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供能面积 </td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">单位冷量耗能</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">1&2直燃机冷却水总流量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">当前能耗 </td>
									<td class="col-md-6">445.09Kgce</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷却水进出口温差</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷却水总管出口水温</td>
									<td class="col-md-6">-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="jtsx">
					<div class="panel-body panel_all pd0">
						<table class="table table-hover table-striped table_fon">
							<thead>
								<tr class="row">
									<td class="col-md-6">参数</td>
									<td class="col-md-6">黄花机场泛能站-黄花机场1-#泛能站</td>
								</tr>
							</thead>
							<tbody>
								<tr class="row">
									<td class="col-md-6">项目类型</td>
									<td class="col-md-6">公共建筑</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供冷期</td>
									<td class="col-md-6">5/1--11/15</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供热期</td>
									<td class="col-md-6">11/15--3/31</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">所属行业</td>
									<td class="col-md-6">机场</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">投资单位</td>
									<td class="col-md-6">新奥集团</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">商业模式</td>
									<td class="col-md-6">BOT</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">设计单位</td>
									<td class="col-md-6">长沙有色冶金设计研究院</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">运营商</td>
									<td class="col-md-6">长沙新奥远大能源服务有限公司</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">项目地址</td>
									<td class="col-md-6">湖南省长沙市长沙县</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供能/建设</td>
									<td class="col-md-6">120,000m2/154,000m2</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">建筑单位</td>
									<td class="col-md-6">暂无数据</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">设计电负荷</td>
									<td class="col-md-6">4,800kW</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">CO2减排率</td>
									<td class="col-md-6">0.33%</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">SO2减排率</td>
									<td class="col-md-6">73.41</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">NOx减排率</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗气量</td>
									<td class="col-md-6">32Nm³</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗水量</td>
									<td class="col-md-6">0t</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供电量</td>
									<td class="col-md-6">1131kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计耗气量</td>
									<td class="col-md-6">1470.56Nm³</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计耗电量</td>
									<td class="col-md-6">3642.83kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计发电量</td>
									<td class="col-md-6">0kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计供冷热量</td>
									<td class="col-md-6">15280.17kWh</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计耗水量</td>
									<td class="col-md-6">2076.31t</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计供冷量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累计供热量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">静态投资回收期</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">动态投资回收期</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">耗气成本</td>
									<td class="col-md-6">1241.6元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">累耗电成本 </td>
									<td class="col-md-6">145.88元</td>
								</tr><tr class="row">
									<td class="col-md-6">耗水成本</td>
									<td class="col-md-6">0元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">天然气价</td>
									<td class="col-md-6">3.88元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">电价 </td>
									<td class="col-md-6">0.72元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">水价</td>
									<td class="col-md-6">4元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">单位面积耗能量</td>
									<td class="col-md-6">3.88元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">单位面积耗冷/热负荷</td>
									<td class="col-md-6">3.88元</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">供能面积 </td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">单位冷量耗能</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">1&2直燃机冷却水总流量</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">当前能耗 </td>
									<td class="col-md-6">445.09Kgce</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷却水进出口温差</td>
									<td class="col-md-6">-</td>
								</tr>
								<tr class="row">
									<td class="col-md-6">冷却水总管出口水温</td>
									<td class="col-md-6">-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	
	
	<!--弹出框-->
    <div id="gytModal" class="modal fade bs-example-modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">运行参数详细</h4>
                </div>
                <div class="modal-body" style="height: 487px;">
                    <div id="sjjcCharts" class="sjjc-charts" style="height: 457px; width: 870px;"></div>
                </div>
            </div>
        </div>
    </div>
	</div>

	
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/sjjc'])
		});
	</script>
	
	<% include footer.html %>
