<% include header-top.html %>
      <link rel="stylesheet" href="/css/nxjc.css" media="all">
      <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
      <link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
       <!--同比环比-->
       <div id="" class="my-section card-wrapper">
           <!--4分格-->
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>耗能</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="nyzhlylDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <p class="pull-right zhi-style">至</p>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="nyzhlylDate2">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="jgfx-top-right pull-right pr10">
                            <div class="btn-group  zoom_controls" id="nyzhlylButton">
                                <button type="button" class="btn btn-default active" data-chart="line" data-range="1d">日</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1m">月</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tbhbHaoneng" class="chart-box charts-cont"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>供能</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="jnlDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <p class="pull-right zhi-style">至</p>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="jnlDate2">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="jgfx-top-right pull-right pr10">
                            <div class="btn-group  zoom_controls" id="jnlButton">
                                <button type="button" class="btn btn-default active" data-chart="line" data-range="1d">日</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1m">月</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tbhbGongneng" class="chart-box charts-cont"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>能源综合利用率</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="eyhtjplDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <p class="pull-right zhi-style">至</p>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="eyhtjplDate2">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="jgfx-top-right pull-right pr10">
                            <div class="btn-group  zoom_controls" id="eyhtjplButton">
                                <button type="button" class="btn btn-default active" data-chart="line" data-range="1d">日</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1m">月</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tbhbNyzhlyl" class="chart-box charts-cont"></div>
            </div>
            <div class="my-card col-md-6 col-lg-6 col-xs-12">
                <div class="my-card-top">
                    <div class="card-title  bottom-title">
                       <ul class="nav nav-tabs ">
                            <li class="nor"><a>节能率</a></li>
                       </ul>
                        <button class="btn btn-default btn-xs card-button-resize" type="button">
                            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card-subtitle clearfix">
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="kzsnylylDate2">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <p class="pull-right zhi-style">至</p>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="kzsnylylDate1">
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="jgfx-top-right pull-right pr10">
                            <div class="btn-group  zoom_controls" id="kzsnylylButton">
                                <button type="button" class="btn btn-default active" data-chart="line" data-range="1d">日</button>
                                <button type="button" class="btn btn-default" data-chart="line" data-range="1m">月</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tbhbJnl" class="chart-box charts-cont"></div>
            </div>
       </div>

       <script>
           requirejs(['../js/common'], function (common) {
               requirejs(['app/tbhb']);
           });
       </script>
<% include footer.html %>
