<!-- header -->
<nav role="navigation" class="navbar navbar-default my-navbar">
       <div class="navbar-header">
           <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#index">新奥泛能站云服务平台</a>
       </div>
       <div id="navbarCollapse" class="collapse navbar-collapse">
           <ul class="nav nav-tabs navbar-nav my-nav">
               <li class="active">
                    <a data-hight="0" class="index-nav my-show" data-show="index" data-toggle="tab" href="#sectionA"><!--<span class="icon-temp ttt"></span>-->首页</a>
                </li>
               <li><a data-hight="1" class="xmgl-nav" data-toggle="tab" href="#sectionB"><!--<span class="icon-sun ttt"></span>-->项目概览</a></li>
               <li><a data-hight="1" class="ycjc-nav" data-toggle="tab" href="#sectionC">远程监测</a></li>
               <li><a data-hight="1" class="nygl-nav" data-toggle="tab" href="#sectionD">能源管理</a></li>
           </ul>
            <div class="tab-content my-tab-content">
                <div id="sectionA" class="tab-pane fade in active hidden-lg">
                </div>
                <div id="sectionB" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                    </ul>
                </div>
                <div id="sectionC" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#gyt" data-show="gyt" class="my-show">工艺监测</a></li>
                        <li><a href="#nxjc"  data-show="nxjc" class="my-show">能效监测</a></li>
                        <li><a href="#">数据监测</a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#login">用户登录</a></li>
            </ul>
       </div>
</nav>
