<!-- header -->
<nav role="navigation" class="navbar navbar-default my-navbar">
       <div class="navbar-header">
           <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/user/home">新奥泛能站云服务平台</a>
       </div>
       <div id="navbarCollapse" class="collapse navbar-collapse">
           <ul class="nav navbar-nav my-nav">
               <li>
                    <a data-hight="0" class="index-nav" data-show="index"  href="/user/home"><!--<span class="icon-temp ttt"></span>-->首页</a>
                </li>
               <li class="active"><a data-hight="1" class="xmgl-nav" data-show="xmgl" href="/user/xmgl"><!--<span class="icon-sun ttt"></span>-->项目概览</a></li>
               <li><a data-hight="1" class="ycjc-nav" data-show="ycjc" href="#">远程监测</a></li>
               <li><a data-hight="1" class="nygl-nav" data-show="nygl" href="#">能源管理</a></li>
               <li><a data-hight="1" class="nygl-nav" data-show="pgzd" href="#">评估诊断</a></li>
           </ul>
            <div class="my-tab-content">
                <div id="" class="tab-pane ">
                    <h4 class="subTitle">亭湖泛能站</h4>
                    <ul class="nav nav-pills my-sub-nav">
                    </ul>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#login">用户名</a></li>
            </ul>
       </div>
</nav>
