<% include header-top.html %>
<link rel="stylesheet" href="/css/xmgl.css" media="all">
<% include header-bottom.html %>
        <!--项目概览-->        
         <div id="xmgl" class="my-section xmgl-wrapper">
			<div class="box">
				<div class="twodiv">
					<div class="pic">
						<ul>
							<li><img class="img1" src="/img/xmgl/bg1.png" /></li>
							<li><img class="img1" src="/img/xmgl/bg2.png" /></li>
							<li><img class="img1" src="/img/xmgl/bg3.png" /></li>
						</ul>
						<!--<video width="100%" height="100%" controls>
							  <source src="/img/xmgl/白头吟MV.mp4" type="video/mp4">
						</video>-->
					</div>
					<div class="two_divall"> 
					<div class="all">
						<ul>
							<li class="bg">第一张</li>
							<li>第二张</li>
							<li>第三张</li>
						</ul>
					</div>
					</div>
				</div>
			</div>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/xmgl']);
            });
        </script>
<% include footer.html %>
