<% include header.html %>
        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/xmgl']);
            });
        </script>
        <!--项目概览-->        
        <div id="xmgl" class="my-section xmgl-wrapper">
        	
        	<div class="img_img"><img src="/img/xmgl/1-1.png" class="img_mu"></div>
            	<p class="gl_btn">
            		<button type="button" class="btn btn-info btn_one">图片一</button>
	            	<button type="button" class="btn btn-info btn_two">图片二</button>
	            	<button type="button" class="btn btn-info btn_three">图片三</button>
	            	<button type="button" class="btn btn-info btn_four">图片四</button>
				 </p>
        </div>
<% include footer.html %>
