<% include header-top.html %>
<link rel="stylesheet" href="/css/xmxxgl.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
<link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
<% include header-bottom.html %>
   <!--项目信息管理-->
    <div id="" class="my-section">
		<div class="divall">
			<div class="leftdiv">
				<h5>园区选择</h5>
				<div class="bt">
					<a href="#"><img src="/img/xmxxgl/22.png" />全部</a>
				</div>

				<div id="mymenu">
					<div class="uldiv">
						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">华北区</a></li>
							<ul>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">振西商贸广场</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">廊坊新朝阳广场</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">新奥科技园</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">中国工程院</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">华东区</a></li>
							<ul>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">杭州海航（国际）商城</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">西安华润万象城</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">亭湖医院</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">南汇工业园区</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">东方伟业商业广场</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">华中区</a></li>
							<ul>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">长沙黄花机场</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">株洲神农城</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">浏阳热力产业园</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">株洲职教城</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">兴隆化工</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">华南区</a></li>
							<ul>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">肇庆新区</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">西南区 </a></li>
						</ul>

						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">豫皖区</a></li>
							<ul>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">民生药业集团医药文化创意产业园</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">大明产业园</a></li>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">新安产业集聚区</a></li>
							</ul>
						</ul>
						<ul class="one">
							<li><span><img src="/img/xmxxgl/未标题-1.png" class="img_eld"></span><a href="#">山东区</a></li>
							<ul>
								<li><span><img src="/img/xmxxgl/让退.png" class="img_eld"></span><a href="#">中德生态园</a></li>
							</ul>
						</ul>

					</div>

				</div>
			</div>

			<div class="tab_two2">
				<div class="waitab">
					<table class="table table-striped table-hover tab_bord">
						<thead>
							<tr class="even">
								<td>序号</td>
								<td>项目名称</td>
								<td>建筑面积</td>
								<td>供能面积</td>
								<td>运营商</td>
								<td>供冷期</td>
								<td>供热期</td>
								<td>操作</td>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
							<tr class="odd">
								<td>1</td>
								<td>振西商贸广场泛能站</td>
								<td>19562.35</td>
								<td>16254</td>
								<td>-</td>
								<td>05/10-09/15</td>
								<td>11/15-03/15</td>
								<td><span></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

    </div>	

        <script>
            requirejs(['../js/common'], function (common) {
                requirejs(['app/xmxxgl']);
            });
        </script>
<% include footer.html %>
