<% include header-top.html %>
    <link rel="stylesheet" href="/css/bootstrap-select.css" media="all">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" media="all">
    <link rel="stylesheet" href="/css/zdbg.css" media="all">
    <% include header-bottom.html %>
        <!--诊断报告-->
        <!--弹出层-->
        <div id="myModal" class="modal fade bs-example-modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header zdbg-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">子系统</h4>
                    </div>
                    <div class="modal-body" id="zdbgModalBody">
                        <div id="allZxt" class="zdbg-hide">
                            <h4>1.1工艺系统运行时间</h4>
                            <p class="qtpage qt-gongleng">供冷模式下，工艺系统组成及运行时间，如下：</p>
                            <table id="gyxtyxsj" class="table table-bordered gridtable qtpage qt-gongleng">
                                <thead>
                                    <tr>
                                        <th>工艺系统组成</th>
                                        <th>运行时间 h</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>CCHP子系统</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>常规调峰子系统</td>
                                        <td>716</td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>储能调峰子系统</td>-->
                                    <!--<td>115</td>-->
                                    <!--</tr>-->
                                    <tr>
                                        <td>冷温水输配子系统</td>
                                        <td>705</td>
                                    </tr>
                                    <tr>
                                        <td>冷却子系统</td>
                                        <td>541</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p class="qtpage qt-gongre">供热模式下，工艺系统组成及运行时间，如下：</p>
                            <table id="" class="table table-bordered gridtable qtpage qt-gongre">
                                <thead>
                                    <tr>
                                        <th>工艺系统组成</th>
                                        <th>运行时间 h</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>CCHP子系统</td>
                                        <td>31</td>
                                    </tr>
                                    <tr>
                                        <td>常规调峰子系统</td>
                                        <td>1098</td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>储能调峰子系统</td>-->
                                    <!--<td>115</td>-->
                                    <!--</tr>-->
                                    <tr>
                                        <td>冷温水输配子系统</td>
                                        <td>1098</td>
                                    </tr>
                                    <tr>
                                        <td>冷却子系统</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>1.2 供耗能分析</h4>
                            <!--djflajflj-->

                            <!--djfkljdfalj-->

                            <p>该段时间内，泛能站供耗能组成如下：
                            </p>
                            <p>耗能:</p>
                            <div id="hnjg"></div>
                            <p>供能:</p>
                            <div id="gnjg"></div>

                            <table id="singXuanran" class="table table-bordered gridtable qtpage qt-gongleng">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>供能量/kWh</td>
                                        <td id="singXuanran_td1"></td>
                                    </tr>
                                    <tr>
                                        <td>发电量/kWh</td>
                                        <td id="singXuanran_td2"></td>
                                    </tr>
                                    <tr>
                                        <td>供生活热水t</td>
                                        <td id="singXuanran_td3"></td>
                                    </tr>
                                    <tr>
                                        <td>供蒸汽/t</td>
                                        <td id="singXuanran_td4"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="singXuanran" class="table table-bordered gridtable qtpage qt-gongre">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>供能量/kWh</td>
                                        <td id="">597342.17</td>
                                    </tr>
                                    <tr>
                                        <td>发电量/kWh</td>
                                        <td id="">5376.89</td>
                                    </tr>
                                    <tr>
                                        <td>供生活热水t</td>
                                        <td id="">1311.47</td>
                                    </tr>
                                    <tr>
                                        <td>供蒸汽/t</td>
                                        <td id="">358.48</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="gnjgping2"></div>
                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">（1）该段时间内，消耗最多的能源类型是 <span>天然气</span>。</p>
                            <p class="qtpage qt-gongleng">（1）该段时间内，消耗最多的能源类型是<span>天然气</span>。</p>
                            <p class="qtpage qt-gongre">（2）该段时间内，供能出力最多的系统是 <span>调峰系统 </span>。</p>
                            <p class="qtpage qt-gongleng">（2）该段时间内，供能出力最多的系统是 <span>CCHP联供子系统  </span>。</p>
                            <div id="gllyswkqhzLine"></div>
                            <div id="gllyswkqhzLine2"></div>

                            <h5>分析：</h5>
                            <p class="qtpage qt-gongre">2015-11-01至2015-11-23，室外温度较高，泛能站未提供采暖供热；</p>
                            <p class="qtpage qt-gongre">2015-11-24至2015-12-23，采暖供热量变化与室外温度变化相关，即室外温度越低，采暖供热量越大。</p>
                            <p class="qtpage qt-gongleng">（1）供冷量变化趋势与室外温度变化趋势相似，即室外温度越高，供冷量越大。</p>
                            <h4>1.3 节能性分析</h4>
                            <h5>1.3.1 能源综合利用率</h5>
                            <div id="zdsjnnyzhlylLine"></div>
                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">该段时间内，泛能站能源综合利用率为 <span>53.95</span> %。</p>
                            <p class="qtpage qt-gongleng">该段时间内，泛能站能源综合利用率为 <span>19.54</span> %。</p>
                            <h5>1.3.2 节能率</h5>
                            <div id="zdsjnjnlbhLine"></div>
                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">该段时间内，泛能站节能率为<span>4.13</span> %。</p>
                            <p class="qtpage qt-gongleng">该段时间内，泛能站节能率为<span>2.67</span> %。</p>
                            <h5>1.4 经济性分析</h5>
                            <div id="allLine01"></div>
                            <div id="dwgnnh"></div>
                            <h5>分析</h5>
                            <!--<p class="qtpage qt-gongre">（1）该段时间，单位供能能耗最高为 5339.62 kwh/kwh；最低为 360.11 kwh/kwh；</p>-->
                            <!--<p class="qtpage qt-gongre">（2）该段时间，单位供能成本最高为 16100.27 元/kwh；最低为 1127.22 元/kwh；</p>-->

                            <!--<p class="qtpage qt-gongleng">（1）该段时间，单位供能能耗最高为 5505.08 kwh/kwh；最低为 0 kwh/kwh。</p>-->
                            <!--<p class="qtpage qt-gongleng">（2）该段时间，单位供能成本最高为 16118.2元/kwh；最低为 0 元/kwh。</p>-->
                            <p class="qtpage qt-gongre">（1）该段时间，单位供能能耗最高为 3.58 kwh/kwh；最低为 1.13 kwh/kwh；</p>
                            <p class="qtpage qt-gongre">（2）该段时间，单位供能成本最高为 1.42 元/kwh；最低为 0.26 元/kwh；</p>

                            <p class="qtpage qt-gongleng">（1）该段时间，单位供能能耗最高为 0.55 kwh/kwh；最低为 0 kwh/kwh。</p>
                            <p class="qtpage qt-gongleng">（2）该段时间，单位供能成本最高为 1.61元/kwh；最低为 0 元/kwh。</p>

                        </div>
                        <div id="cchpZxt" class="cchp-zxt zdbg-hide">
                            <table class="table table-bordered gridtable" id="t_2_1_01">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>热效率</th>
                                        <th>热电比</th>
                                        <th>余热总量</th>
                                        <th>余热回收量</th>
                                        <th>热回收率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr class="qtpage qt-gongleng">
                                        <td>亭湖医院CCHP1</td>
                                        <td>66.14%</td>
                                        <td>0.45</td>
                                        <td>1015.07</td>
                                        <td>96.35</td>
                                        <td>9.40%</td>
                                    </tr>
                                    <tr class="qtpage qt-gongre">
                                        <td>亭湖医院CCHP1</td>
                                        
                                        <td>71.47%</td>
                                        <td>0.95</td>
                                        <td>10150.07</td>
                                        <td>9612.35</td>
                                        <td>94.70%</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered gridtable " id="t_2_1_02">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>耗气量</th>
                                        <th>发电量</th>
                                        <th>发电效率</th>
                                        <th>额定发电效率</th>
                                        <th>负荷率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody class="qtpage qt-gongre">
                                    <tr>
                                        <td>发电机1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>发电机2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody class="qtpage qt-gongleng">
                                    <tr>
                                        <td>发电机1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>发电机2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="cchpZXTLine02"></div>

                            <table id="t_2_1_03" class="table table-bordered gridtable">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>制冷量</th>
                                        <th>COP</th>
                                        <th>额定COP</th>
                                        <th>负荷率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>发电机1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>发电机2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<div id="cchpZXTLine02_1"></div>-->

                            <table class="table table-bordered gridtable qtpage qt-gongleng" id="t_2_1_04">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>供蒸气量</th>
                                        <th>热效率</th>

                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>CCHP系统1</td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <td>CCHP系统2</td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tbody>
                            </table>
                             <table class="table table-bordered gridtable qtpage qt-gongre" id="">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>供蒸气量</th>
                                        <th>热效率</th>

                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>烟气余热型蒸汽锅炉1</td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                   
                                </tbody>
                            </table>

                           <!-- <div id="cchpZXTLine01"></div>-->

                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">（1）  该段时间内，CCHP子系统 热效率偏低， CCHP子系统 热电比偏低。 </p>
                            <p class="qtpage qt-gongre">（2） 烟气余热型蒸汽锅炉1，蒸汽型溴化锂机组1 未开启。</p>
                            <p class="qtpage qt-gongre">可能存在问题：<span></span></p>
                            <p class="qtpage qt-gongre">未充分利用烟气余热。</p>

                            <p class="qtpage qt-gongleng">（1）该段时间内，CCHP子系统 未开启。</p>
                            <p class="qtpage qt-gongleng">可能存在问题：<span></span></p>
                            <p class="qtpage qt-gongleng">（1）蒸汽型溴化锂机组1处于低负荷运行状态。</p>

                        </div>
                        <div id="cgtfZxt" class="cgtf-zxt zdbg-hide">

                            <h4>非可再生能源类</h4>
                            <table class="table table-bordered gridtable qtpage qt-gongleng" id="t_2_2_01">

                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>耗气量</th>
                                        <th>制冷量</th>
                                        <th>COP</th>
                                        <th>额定COP</th>
                                        <th>负荷率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>直燃溴冷机1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>溴化锂2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                             <table class="table table-bordered gridtable qtpage qt-gongre" id="">

                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>耗气量</th>
                                        <th>制热量</th>
                                        <th>COP</th>
                                        
                                        <th>负荷率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>直燃型溴化锂组1</td>
                                        <td>16401.35</td>
                                        <td>117900.06</td>
                                        <td>0.74</td>
                                       
                                        <td>17.69%</td>
                                    </tr>
                                    <tr>
                                        <td>直燃型溴化锂组2</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>


                            <div id="zhiranjiLine"></div>
                            <table class="table table-bordered gridtable qtpage qt-gongleng" id="t_2_2_03">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>供蒸气量</th>
                                        <th>热效率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>燃气型蒸汽锅炉</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                             <table class="table table-bordered gridtable qtpage qt-gongre " id="">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>供蒸气量</th>
                                        <th>热效率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>燃气型蒸汽锅炉1</td>
                                        <td>93.93</td>
                                        <td>67.5%</td>
                                    </tr>
                                    <tr>
                                        <td>燃气型蒸汽锅炉1</td>
                                        <td>298.063</td>
                                        <td>70.69%</td>
                                    </tr>

                                </tbody>
                            </table>

                            <div id="ranqixingLine"></div>
                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">（1） 该段时间内， 直燃型溴化锂机组1  长期处于部分负荷下工作，  直燃型溴化锂机组1 的COP偏低;直燃型溴化锂机组2 未开启</p>
                            <p class="qtpage qt-gongre">（2） 该段时间内，  燃气型蒸汽锅炉1，燃气型蒸汽锅炉2 的热效率偏低。</p>

                            <p class="qtpage qt-gongre">可能存在问题： <span></span> </p>
                            <p class="qtpage qt-gongre">（1） 直燃型溴化锂机组1, 燃气型蒸汽锅炉1，燃气型蒸汽锅炉2处于低负荷运行状态。 </p>
                            <p class="qtpage qt-gongre">（2） 可能受其他子系统影响。</p>

                            <p class="qtpage qt-gongleng">（1） 该段时间内， 直燃型溴化锂机组1，直燃型溴化锂机组2 长期处于部分负荷下工作， 直燃型溴化锂机组1，直燃型溴化锂机组2 的COP偏低。</p>
                            <p class="qtpage qt-gongleng">（2） 该段时间内， 燃气型蒸汽锅炉1 热效率低于限值。</p>
                            <p class="qtpage qt-gongleng">可能存在问题： <span></span> </p>
                            <p class="qtpage qt-gongleng">（1） 处于低负荷运行状态。</p>
                            <p class="qtpage qt-gongleng">（2） 可能受冷温水输配子系统、冷却子系统等其他子系统影响。</p>

                            <h4>可再生能源类</h4>

                            <table id="t_2_2_02" class="table table-bordered gridtable qtpage qt-gongleng">
                                <thead>
                                    <tr>
                                        <th>设备</th>
                                        <th>耗电量</th>
                                        <th>制冷量</th>
                                        <th>COP</th>
                                        <th>负荷率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>地源热泵1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>地源热泵2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                             <table id="" class="table table-bordered gridtable qtpage qt-gongre">
                                <thead>
                                    <tr>
                                        <th>设备</th>
                                        <th>耗电量</th>
                                        <th>制热量</th>
                                        <th>COP</th>
                                        <th>负荷率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>土壤源热泵机组1</td>
                                        <td>5483.9</td>
                                        <td>18064.83</td>
                                        <td>3.02</td>
                                        <td>47.52%</td>
                                    </tr>
                                   
                                </tbody>
                            </table>

                            <div id="xhl1Line"></div>

                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">（1） 该段时间内， 土壤源热泵机组1 长期处于部分负荷下工作， 土壤源热泵机组1 的COP偏低。</p>

                            <p class="qtpage qt-gongre">可能存在问题： <span></span> </p>
                            <p class="qtpage qt-gongre">（1） 土壤源热泵机组1处于低负荷运行状态。</p>
                            <p class="qtpage qt-gongre">（2） 可能受冷温水输配子系统、冷却子系统等其他子系统影响。</p>

                            <p class="qtpage qt-gongleng">（1）该段时间内， 土壤源热泵机组1 长期处于部分负荷下工作， 土壤源热泵机组1 的COP偏低。</p>
                            <p class="qtpage qt-gongleng">可能存在问题： <span></span> </p>
                            <p class="qtpage qt-gongleng">（1） 处于低负荷运行状态。</p>
                            <p class="qtpage qt-gongleng">（2） 可能受冷温水输配子系统、冷却子系统等其他子系统影响。</p>

                            <div id="dyrb1Line"></div>
                            <div id="dyrb2Line"></div>
                            <!--图表 18地源热泵机不同负荷率的运行时间占比
                    <p>图表 18地源热泵机不同负荷率的运行时间占比</p>
                    <div id="dyrb_fhl"></div>
                    <h5>分析</h5>
                    <p>该段时间内， <span>地源热泵1</span>  长期处于部分负荷下工作， <span> 地源热泵1 </span>的COP偏低。</p>
                    <p>可能存在问题<span></span></p>-->

                        </div>
                        <div id="lwspZxt" class="lws-zxt zdbg-hide">

                            <table id="t_c_01" class="table table-bordered gridtable qtpage qt-gongleng">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>耗电量</th>
                                        <th>扬程</th>
                                        <th>输送系数</th>
                                        <th>运行效率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>亭湖医院冷温水循环泵组</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>冷温水泵组2</td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>

                            <table id="" class="table table-bordered gridtable qtpage qt-gongre">
                                <thead>
                                    <tr>
                                        <th>设备序号</th>
                                        <th>耗电量</th>
                                        
                                        <th>输送系数</th>
                                        
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>亭湖医院冷温水循环泵组</td>
                                        <td>1064.81</td>
                                        <td>23.34</td>
                                       
                                    </tr>
                                    
                                </tbody>
                            </table>


                            <h5>分析</h5>
                            <p class="qtpage qt-gongre">（1） 该段时间内，亭湖医院冷温水循环泵组 输送系数偏低。</p>
                            <p class="qtpage qt-gongre">可能存在的问题：</p>
                            <p class="qtpage qt-gongre">（1） 系统负荷较低，可能未合理安排水泵启停。</p>

                            <p class="qtpage qt-gongleng">（1） 该段时间内，亭湖医院冷温水循环泵组 输送系数偏低。</p>
                            <p class="qtpage qt-gongleng">可能存在的问题：</p>
                            <p class="qtpage qt-gongleng">（1） 系统负荷较低，可能未合理安排水泵启停。</p>
                        </div>
                        <div id="lqZxt" class="lq-zxt zdbg-hide">
                            <table id="d_t_01" class="table table-bordered gridtable">
                                <thead>
                                    <tr>
                                        <th>设备名称</th>
                                        <th>耗电量</th>
                                        <th>扬程</th>
                                        <th>输送系数</th>
                                        <th>运行效率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>亭湖医院冷温水循环泵组</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>冷却水泵组2</td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>
                            <p>冷却子系统</p>
                            <h5>分析:</h5>
                            <p class="qtpage qt-gongre">未开启</p>

                            <p class="qtpage qt-gongleng">（1） 该段时间内，亭湖医院冷却水循环泵组 输送系数正常。</p>
                            <p class="qtpage qt-gongleng">（2） 该段时间内，亭湖医院冷却塔组 冷却效率偏低。</p>
                            <p class="qtpage qt-gongleng">可能存在的问题：</p>
                            <p class="qtpage qt-gongleng">（1）可能冷却塔冷却能力偏低，风机效率偏低。</p>

                            <table id="d_t_02" class="table table-bordered gridtable">
                                <thead>
                                    <tr>
                                        <th>设备名称</th>
                                        <th>冷却效率</th>
                                    </tr>
                                </thead>
                                <tfoot></tfoot>
                                <tbody>
                                    <tr>
                                        <td>亭湖医院冷却塔组</td>
                                        <td></td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>冷却塔2</td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div id="zdbg" class="my-section zdbg-wrapper">

            <div class="top-bar col-md-12 col-lg-12 col-xs-12">
                <div class="top-bar-inner">
                    <div class="zbbg-top-line clearfix">
                        <ul class="list-inline pull-left">
                            <li>
                                <span>项目选择：</span>
                            </li>
                            <li>
                                <select class="form-control selectpicker" id="zdbgProjectSel">
                                    <option value="1">黄花</option>
                                    <option value="3">亭湖</option>
                                </select>
                            </li>
                            <li>
                                <span>选择：</span>
                            </li>
                            <li>
                                <input type="radio" name="group" id="glj" value="glj" class="radio cp">
                                <label for="glj" class="cp">供冷</label>
                                <input type="radio" name="group" id="grj" value="grj" class="radio cp">
                                <label for="grj" class="cp">供热</label>
                            </li>
                        </ul>
                        <div class="jgfx-top-right pull-right pr10">
                            <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-info">分析</button>
                            <button type="button" id="myButton2" data-loading-text="Loading..." class="btn btn-info">导出</button>
                        </div>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="zdbgStart">
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="pull-right">
                            至
                        </div>
                        <div class="jgfx-date-box pull-right">
                            <div class='input-group date datetimepicker1' id="zdbgEnd">
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="zdbg-main">
                <div class="zdbg-img zdbg-th">
                    <img src="../images/th-gyt-detail.png" alt="">
                </div>
                <div id="zdList" class="zd-list zdbg-hide">
                    <div class="list-group">
                        <a class="list-group-item " data-num=0 data-title="系统全局层">全局工艺系统
                            </a>
                        <a class="list-group-item " data-num=1 data-title="CCHP子系统">A-CCHP联供子系统
                            </a>
                        <a class="list-group-item" data-num=2 data-title="常规调峰子系统">B-常规调峰子系统
                            </a>
                        <a class="list-group-item" data-num=3 data-title="冷温水输配子系统">C-冷温输配子系统
                            </a>
                        <a class="list-group-item" data-num=4 data-title="冷却子系统">D-冷却子系统
                            </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script>
            requirejs(['../js/common'], function(common) {
                requirejs(['app/zdbg'])
            });
        </script>
        <% include footer.html %>
