<% include header-top.html %>
<link rel="stylesheet" href="/css/zdbg.css" media="all">
<% include header-bottom.html %>
	<!--诊断报告-->
	<div id="zdbg" class="my-section zdbg-wrapper">

		<div id="ZDBG_top">
			
		<!--详情-->
		<div id="ZDBG_content" class="ZD_alltab">
			<div class="text">
				<h3 class="H3_title"><span class="bd_color1">长沙黄花机场泛能站</span>诊断报告</h3>
				<div class="two_h4">一&nbsp;、&nbsp;项目概况：</div>
					<div class="BG_contenrt">
						<p>1.&nbsp;<span class="h4txt">项目地点：</span>&nbsp;该泛能站位于&nbsp;<span class="bgbj_text">地点（默认为空）</span>。</p>
						<p>2.&nbsp;<span class="h4txt">项目信息：</span>&nbsp;包含业态类&nbsp;<span class="bgbj_text">办公楼（默认为空）<span class="aspan">（医院/学校/商场/酒店。。。）</span></span>，
							面积&nbsp;<span class="bgbj_text">（默认为空）</span>，&nbsp;&nbsp;&nbsp;&nbsp;</span>m<sup>2</sup>，设计冷负荷<span class="bgbj_text">（默认为空）</span>，
							设计电负荷<span class="bgbj_text">（默认为空）</span>。</p>
						<p>3.&nbsp;<span class="h4txt">诊断时间：</span>&nbsp;本次评估诊断分析的时间范围是&nbsp;<span class="bgbj_text">时间（默认为空）至时间（默认为空）</span>，
							属于<span class="clolr_back">供冷季。</span></p>
						<p>4.&nbsp;<span class="h4txt">工艺设计方案：</span></p>
						<p class="imgimg1"><img src="/img/zdbg/hh-bg3.jpg"></p>
						<p class="imgtxt">（说明：上图与系统-项目概览中的“设计方案”采用统一图片，默认为空）	</p>						
						<p>2.&nbsp;<span class="h4txt">设备清单：</span>&nbsp;	</p>
							<div class="BG_tabone">
								<table class="table table-bordered gridtable">
									<tr>
										<td>设备</td>
										<td>数量</td>
									</tr>
									<tr>
										<td class="bd_color">发电机</td>
										<td class="bd_color">1</td>
									</tr>
									<tr>
										<td class="bd_color">燃气蒸汽锅炉</td>
										<td class="bd_color">2</td>
									</tr>
									<tr>
										<td class="bd_color">直燃机</td>
										<td class="bd_color">2</td>
									</tr>
									<tr>
										<td class="bd_color">地源热泵</td>
										<td class="bd_color">1</td>
									</tr>
									<tr>
										<td class="bd_color">冷温水泵</td>
										<td class="bd_color">4</td>
									</tr>
									<tr>
										<td class="bd_color">冷却水泵</td>
										<td class="bd_color">3</td>
									</tr>
									<tr>
										<td class="bd_color">冷却塔</td>
										<td class="bd_color">3</td>
									</tr>
									<tr>
										<td class="bd_color">地源热泵循环水泵</td>
										<td class="bd_color">5</td>
									</tr>
									<tr>
										<td class="bd_color">系统补水泵</td>
										<td class="bd_color">3</td>
									</tr>
									<tr>
										<td class="bd_color">锅炉补水泵</td>
										<td class="bd_color">3</td>
									</tr>
									<tr>
										<td class="bd_color">（默认为空）</td>
										<td class="bd_color">（默认为空）</td>
									</tr>
								</table>
							</div>
						</div>						
					<div class="twodiv">
							<p class="h4txt">二&nbsp;、&nbsp;诊断分析过程：</p>
							<p class="h4txt">1&nbsp;、&nbsp;系统全局层：</p>
							<p class="h4txt">1.1&nbsp;、&nbsp;	工艺系统运行时间</p>
							<font class="psize">供冷模式下，工艺系统组成及运行时间，如下：</font>
							<div class="BG_tabone">
								<table class="table table-bordered gridtable">
									<tr>
										<td>工艺系统组成</td>
										<td>运行时间 h</td>
									</tr>
									<tr>
										<td class="bd_color">CCHP子系统</td>
										<td class="bd_color"></td>
									</tr>
									<tr>
										<td class="bd_color">常规调峰子系统</br>（电制冷/溴化锂/地源热泵。。。）</td>
										<td class="bd_color"></td>
									</tr>
									<tr>
										<td class="bd_color">储能调峰子系统</td>
										<td class="bd_color"></td>
									</tr>
									<tr>
										<td class="bd_color">冷温水输配子系统</td>
										<td class="bd_color"></td>
									</tr>
									<tr>
										<td class="bd_color">冷却子系统</td>
										<td class="bd_color"></td>
									</tr>									
									<tr>
										<td class="bd_color">（默认为空）</td>
										<td class="bd_color">（默认为空）</td>
									</tr>
								</table>
							</div>
							<font class="pfonr">注：诊断分析中的子系统与表中的关联一致</font>							
							<p class="h4txt2">1.2&nbsp;、&nbsp;	供耗能分析</p>
							<font class="psize">该段时间内，泛能站功耗能组成如下：</font>
							<div class="BG_two">
							<p class="hn">耗能：</p>
							<p class="imgtxt">图表&nbsp;1&nbsp;耗能结构（默认为空）	</p>
							<p class="imgimg"><img src="/img/zdbg/log.png"></p>
						</div>
						<div class="tab_one">
							<p class="hn">供能：</p>
						<table class="table table-bordered gridtable tab_grid">
							<tr>
								<td><span class="pfonr">供冷量</span>/kWk</td>
								<td class="bd_color">(默认为空)</td>
							</tr>
							<tr>
								<td>发电量/kWh</td>
								<td class="bd_color">(默认为空)</td>
							</tr>
							<tr>
								<td>供生活热水t</td>
								<td class="bd_color">(默认为空)</td>
							</tr>
							<tr>
								<td>供蒸汽/t</td>
								<td class="bd_color">(默认为空)</td>
							</tr>
						</table>
						</div>	
						<div class="BG_two">
							<p class="imgtxt">图标&nbsp;2&nbsp;供能结构（默认为空）	</p>
							<p class="imgimg"><img src="/img/zdbg/log2.png"></p>
						</div>
						
						<p class="twoimg"><img src="/img/zdbg/log6.png"></p>
					</div>
					<div class="hnfx">		
						<p >分析：</p>	
						<p>&nbsp;（1）&nbsp;该段时间内，消耗最多的能源类型是&nbsp;<span class="bgbj_text">电能/天然气/可再生能源  。</span>。（默认为空）</p>
					    <p>&nbsp;（2）&nbsp;该段时间内，供能出力最多的系统是 &nbsp;</span><span class="bgbj_text">CCHP系统/调峰系统 。</span>。（默认为空）</p>
					</div>
					<div>
						<p class="titletb">图表&nbsp;2&nbsp;<span class="lfh">冷负荷</span>与室外温度关系</p>
						<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>		
					</div>		
					<div class="hnfx">		
							<p >分析：</p>	
							<p>&nbsp;（1）&nbsp;泛能站供冷量与室外空气焓值的变化&nbsp;<span class="bgbj_text">（默认为空）呈正比关系/不一致  ，
							正比关系显示结论:即室外空气焓值，供冷量越大。/不一致时显示结论:即冷负荷与室外空气焓值相关性差</span><span class="clolrred">（默认为空）</span></p>
						    <p>&nbsp;（2）&nbsp;曲线波动可能是受到 &nbsp;</span><span class="bgbj_text">正比关系显示结论: 日夜温差变化、空气湿度变化、
						    	太阳辐照度变化、医院人员流动量变化、工作日/节假日等  </span>。</span>。<span class="clolrred">因素影响。/不一致时显示结论:请核查该段时间内是否存在用户端负荷突变的情况，如供冷面积发生改变，人员流量突变，用户端增添大功率设备等。</span></p>
						</div>
					<p class="h4txt2">1.3&nbsp;、&nbsp; 节能性分析</p>
					<font class="fontall">&nbsp;&nbsp; 1.3.1能源综合利用率</font>
					<div>
						<p class="titletb">图表&nbsp;4&nbsp;<span class="clolrred">诊断时间内能源综合利用率变化</span></p>
						<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>	
						<p class="hnfx">分析：</p>	
						<p class="hnfx">&nbsp;&nbsp;该段时间内，泛能站能源综合利用率为&nbsp;<span class="bgbj_text">&nbsp;&nbsp;&nbsp;%</span>,总体<span class="bgbj_text"> 正常/偏低 </span>。<span class="clolrred">（默认为空）</span></p>					    
					</div>		
					<div class="jnl">
						<p class="fontall">&nbsp;&nbsp;1.3.2节能率</p>
							<table class="table table-bordered gridtable tab_grid">
								<tr>
									<td>常规系统耗能量（kwh）</td>
									<td class="bd_color">1000</td>
								</tr>
								<tr>
									<td>本系统耗能量（kwh）</td>
									<td class="bd_color">800</td>
								</tr>
							</table>
						<p class="titletb">图表&nbsp;4&nbsp;<span class="clolrred">诊断时间内节能率变化</span></p>
						<p class="BG_bfimg"><img src="/img/zdbg/fs.png"></p>
						<span class="fintbl">注：节能率曲线无基准线</span>
						<p class="hnfx">分析：</p>	
						<p class="hnfx">&nbsp;&nbsp;该段时间内，泛能站节能率为&nbsp;<span class="bgbj_text">&nbsp;&nbsp;&nbsp;%</span>。</p>		
					</div>
					<p class="h4txt2">1.3&nbsp;经济性分析</p>
						<p class="titletb">图表&nbsp;6&nbsp;<span class="clolrred">单位供能能耗与成本</span></p>
							<div><img src="/img/zdbg/fs.png" class="img1"><img src="/img/pgzd/log6.png" class="img2"></div>
							<div class="BG_zhly">
							<p class="hnfx">分析：</p>
							<p class="hnfx">（1）该段时间，单位供能能耗最高为<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>kwh/kwh；
								最低为<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;</span>kwh/kwh;平均为<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>kwh/kwh；
								单位供能能耗水平<span class="bgbj_text">高（正常/低）。</span><span class="clolrred">（默认为空）</span></p>
							<p class="hnfx">（2）该段时间，单位供能成本最高为<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>元/kwh；
								最低为<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;</span>元/kwh;平均为
								<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>元/kwh；单位供能成本<span class="bgbj_text">高（正常/低）。</span><span class="clolrred">（默认为空）</span></p>
					</div>
					
					<p class="h4txt2">2.子系统层</p>
					<span class="fintb2">注：以下需要诊断的子系统与项目概况中的工艺系统组成关联一致</span>
					<p>
								<div class="tab_rf">
									<table class="table table-bordered gridtable">
										<tr>
											<td></td>
											<td>热效率</td>
											<td>热电比</td>
											<td>余热总量</td>
											<td>余热回收量</td>
											<td>热回收率</td>
										</tr>
										<tr class="trcolou">
											<td>CCHP系统1</td>
											<td>75%</td>
											<td>1.2</td>
											<td></td>
											<td></td>
											<td>79%</td>
										</tr>
										<tr class="trcolou">
											<td>CCHP系统2</td>
											<td>60%</td>
											<td>0.8</td>
											<td></td>
											<td></td>
											<td>60%</td>
										</tr>
										<tr class="trcolou">
											<td colspan="6">(默认为空)</td>
										</tr>
									</table>
								</div>
							</p>					
					<p>
						<div class="tab_fgr">
									<table class="table table-bordered gridtable">
										<tr>
											<td>设备序号</td>
											<td>耗气量</td>
											<td>发电量</td>
											<td>发电效率</td>
											<td>额定发电效率</td>
											<td>负荷率</td>
										</tr>
										<tr class="trcolou">
											<td>发电机1</td>
											<td></td>
											<td></td>
											<td>60%</td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>发电机2</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="6">(默认为空)</td>
										</tr>
									</table>
								</div>
					</p>
					<p class="titletb">图表&nbsp;7&nbsp;<span class="clolrred">发电机1发电效率变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;8&nbsp;<span class="clolrred">发电机2发电效率变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p>
								<div>
									<table class="table table-bordered gridtable">
										<tr>
											<td>设备序号</td>
											<td><span class="lfh">制冷量</span></td>
											<td>COP</td>
											<td>额定COP</td>
											<td>负荷率</td>
										</tr>
										<tr class="trcolou">
											<td>
												<strong >余热利用</strong><br />
												<strong >LiBr1</strong>
											</td>
											<td></td>
											<td>0.8</td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>
												<strong class="td_tr">余热利用</strong><br />
												<strong class="td_tr">LiBr1</strong>
											</td>
											<td>&nbsp;</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="6">(默认为空)</td>
										</tr>
									</table>
								</div>
							</p>	
					<p class="titletb">图表&nbsp;9&nbsp;<span class="clolrred">余热利用LiBr1机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;10&nbsp;<span class="clolrred">余热利用LiBr2机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>					
					<div class="fx_thre">
					<p>分析：</p>
					<p>（1）该段时间，<span class="bgbj_text">CCHP系统2</span>热效率偏低，<span class="bgbj_text">CCHP系统2</span>运行效率偏低，<span class="bgbj_text">CCHP系统2</span>热电比偏低。<span class="clolrred">（默认为空）</span></p>
					<p>（2）<span class="bgbj_text">发电机1</span>负荷率<span class="bgbj_text">过低（正常）</span>。<span class="clolrred">（默认为空）</span></p>
					<p>（3）<span class="bgbj_text">余热利用LiBr1</span>的COP偏低。<span class="clolrred">（默认为空）</span></p>
						<div class="fx_quest">
							<p>可能存在问题：</p>
							<p>（1）<span class="bgbj_text">受燃气影响</span><span class="clolrred">（默认为空）</span></p>
							<p>（2）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
							<p>（3）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
							<p>（4）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
						</div>
					</div>
					<div class="zfl">
						<h4>2.2城规调峰子系统</h3>
							<p>2.2.1非可再生能源类<span class="lfh">（供热模板没有电冷机但是增加了锅炉）</span></p>
							<p>
								<div>
									<table class="table table-bordered gridtable">
										<tr>
											<td>设备序号</td>
											<td>耗电量</td>
											<td>制冷量</td>
											<td>COP</td>
											<td>额定COP</td>
											<td>负荷率</td>
										</tr>
										<tr class="trcolou">
											<td>电冷机1</td>
											<td></td>
											<td></td>
											<td>5.1</td>
											<td></td>
											<td>65%</td>
										</tr>
										<tr class="trcolou">
											<td>电冷机1</td>
											<td></td>
											<td></td>
											<td>4.2</td>
											<td></td>
											<td>30%</td>
										</tr>
										<tr class="trcolou">
											<td colspan="6">(默认为空)</td>
										</tr>
									</table>
								</div>
							</p>
					</div>
					<p class="titletb">图表&nbsp;11&nbsp;<span class="clolrred"> 电冷机1机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;12&nbsp;<span class="clolrred"> 电冷机2机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p>
						<div class="kd">
							<table class="table table-bordered gridtable">
								<tr>
									<td>设备序号</td>
									<td>耗气量</td>
									<td><span class="lfh">制冷量</span></td>
									<td>COP</td>
									<td>额定COP</td>
									<td>负荷率</td>
								</tr>
								<tr class="trcolou">
									<td>溴化锂1</td>
									<td></td>
									<td></td>
									<td>0.8</td>
									<td></td>
									<td></td>
								</tr>
								<tr class="trcolou">
									<td>溴化锂2</td>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr class="trcolou">
									<td colspan="6">(默认为空)</td>
								</tr>
							</table>
						</div>
					</p>	
					<p class="titletb">图表&nbsp;13&nbsp;<span class="clolrred"> 溴化锂1机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;14&nbsp;<span class="clolrred"> 溴化锂2机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;15&nbsp;<span class="clolrred"> 溴化锂2机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png">></p>
					<div class="hnfx">
					<p>分析：该时间内，<span class="bgbj_text">电冷机1，电冷机2</span>长期处于部分负荷下工作，<span class="bgbj_text">电冷机2，溴化锂1</span>的COP偏低。<span class="clolrred">（默认为空）</span></p>
							<p>
								<div class="fx_quest">可能存在问题：
									<p>（1）<span class="bgbj_text">长时间低负荷运行</span></p>
									<p>（2）<span class="bgbj_text">为合理安排机组启停</span></p>
									<p>（3）<span class="bgbj_text">供水温度设定值偏低</span></p>
									<p>（4）<span class="bgbj_text">受冷温水输配系统影响</span></p>
									<p>（5）<span class="bgbj_text">受冷却系统影响</span></p>
									<p>（6）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
								</div>
							</p>
					</div>
					<div class="hnfx">
					<p>2.2.2可再生能源类</p>
							<p>
								<div>
									<table class="table table-bordered gridtable">
										<tr>
											<td>设备</td>
											<td>耗电量</td>
											<td><span class="fb">制冷量</span></td>
											<td>COP</td>
											<td>额定COP</td>
											<td>负荷率</td>
										</tr>
										<tr class="trcolou">
											<td>地源热泵1</td>
											<td></td>
											<td></td>
											<td>5.0</td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>地源热泵2</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="6">（默认为空）</td>
										</tr>
									</table>
								</div>
							</p>
					</div>		
					<p class="titletb">图表&nbsp;16&nbsp;<span class="clolrred"> 地源热泵1机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;17&nbsp;<span class="clolrred"> 地源热泵2机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;18&nbsp;<span class="clolrred"> 地源热泵机组不同负荷率的运行时间占比</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/log7.png"></p>		
					<div class="hnfx">
						<p>该段时间，<span class="bgbj_text">地源热泵1</span>长期处于部分负荷工作，，<span class="bgbj_text">地源热泵1</span>的COP偏低。<span class="clolrred">（默认为空）</span></p>
							<p>
								<div class="fx_quest">可能存在问题：
									<p>（1）<span class="bgbj_text">负荷率偏低</span></p>
									<p>（2）<span class="bgbj_text">为合理安排机组启停</span></p>
									<p>（3）<span class="bgbj_text">供水温度设定值偏低</span></p>
									<p>（4）<span class="bgbj_text">受地源侧水循环影响</span></p>
									<p>（5）<span class="bgbj_text">受冷温水输配系统影响</span></p>
									<p>（6）<span class="bgbj_text">受冷却系统影响</span></p>
									<p>（7）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
								</div>
							</p>
					</div>		
					<span class="lfh">2.3储能调峰子系统</h4>
							<p><div>
									<table class="table table-bordered gridtable cnltzb">
										<tr>
											<td>子系统</td>
											<td>蓄冷量</td>
											<td>释冷量</td>
										</tr>

										<tr class="trcolou">
											<td>冰蓄冷1</td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>冰蓄冷2</td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="6">(默认为空)</td>
										</tr>
									</table>
								</div>
							</p>
							
				<p>
					<div>
							<table class="table table-bordered gridtable cnltzb">
								<tr>
									<td>设备</td>
									<td>耗电量</td>
									<td>制冷量</td>
									<td>COP</td>
									<td>额定COP</td>
									<td>负荷率</td>
								</tr>
								<tr class="trcolou">
									<td>双工况制冷剂1</td>
									<td></td>
									<td></td>
									<td>5.0</td>
									<td></td>
									<td></td>
								</tr>
								<tr class="trcolou">
									<td>双工况制冷机2</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr class="trcolou">
									<td colspan="6">(默认为空)</td>
								</tr>
							</table>
						</div>
					</p>
					
					
			
					<p class="titletb">图表&nbsp;19&nbsp;<span class="clolrred"> 双工况制冷机1机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>
					<p class="titletb">图表&nbsp;20&nbsp;<span class="clolrred"> 双工况制冷机2机组COP变化曲线</span></p>
					<p class="BG_bfimg"><img src="/img/zdbg/wd.png"></p>	
					<p>
								<div>
									<table class="table table-bordered gridtable tzb4">
										<tr>
											<td></td>
											<td>耗电量</td>
											<td>扬程</td>
											<td>运行效率</td>
										</tr>
										<tr class="trcolou">
											<td>乙二醇循环泵组1</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>乙二醇循环泵组2</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>融冰乙二醇循环泵组1</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>融冰乙二醇循环泵组2</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="4">(默认为空)</td>
										</tr>
									</table>
								</div>
							</p>	
					<div class="xlf">
						<p>分析：</p>
						<p>该时间内，<span class="bgbj_text">蓄冷2</span>蓄冷量偏低，<span class="bgbj_text">蓄冷2</span>释冷量偏低。<span class="clolrred">（默认为空）</span></p>
						<p>该时间内，<span class="bgbj_text">乙二醇循环泵组1</span>运行效率偏低偏低。<span class="clolrred">（默认为空）</span></p>
						<p>
								<div class="fx_quest">可能存在问题：
									<p>（1）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
									<p>（2）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
								</div>
							</p>
					</div>
					<div class="eldj">
					<p>2.4冷温水输配子系统</p>
								<div>
									<table class="table table-bordered gridtable">
										<tr>
											<td></td>
											<td>耗电量</td>
											<td>扬程</td>
											<td>输送系数</td>
											<td>运行效率</td>
										</tr>
										<tr class="trcolou">
											<td>冷温水泵组1</td>
											<td></td>
											<td></td>
											<td>40</td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>冷温水泵组2</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="5">(默认为空)</td>
										</tr>
									</table>
								</div>
						<div class="alldivhan">
							<p>分析：该时间内，<span class="bgbj_text">冷温水泵组1</span>输送系数偏低，<span class="bgbj_text">冷温水泵组1</span>运行效率偏低。<span class="clolrred">（默认为空）</span></p>
							<p>
								<div class="fx_quest">可能存在问题：
									<p>（1）<span class="bgbj_text">未合理安排机组启停</span></p>
									<p>（2）<span class="bgbj_text">管路阻力过大</span></p>
									<p>（3）<span class="bgbj_text">水泵选型不合理</span></p>
									<p>（4）<span class="bgbj_text">处于大流量小温差运行状态</span></p>
									<p>（5）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
								</div>
							</p>
							<P></P>
							<h4>2.5冷却子系统</h4>
							<p>
								<div>
									<table class="table table-bordered gridtable">
										<tr>
											<td></td>
											<td>耗电量</td>
											<td>扬程</td>
											<td>输送系数</td>
											<td>运行效率</td>
										</tr>
										<tr class="trcolou"> 
											<td>冷却水泵组1</td>
											<td></td>
											<td></td>
											<td>32（35）</td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td>冷却水泵组2</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class="trcolou">
											<td colspan="5"></td>
										</tr>
									</table>
								</div>
							</p>
							<p>分析：该时间内，<span class="bgbj_text">冷却水泵组1</span>输送系数偏低，<span class="bgbj_text">冷却水泵组1</span>运行效率偏低。<span class="clolrred">（默认为空）</span></p>
							<p>
								<div class="fx_quest">可能存在问题：
									<p>（1）<span class="bgbj_text">未合理安排机组启停</span></p>
									<p>（2）<span class="bgbj_text">管路阻力过大</span></p>
									<p>（3）<span class="bgbj_text">水泵选型不合理</span></p>
									<p>（4）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
								</div>
							</p>
					</div>
					
				<p>
								<table class="table table-bordered gridtable">
									<tr>
										<td></td>
										<td>耗电量</td>
										<td>能效比</td>
										<td>进塔流量比例</td>
									</tr>
									<tr class="trcolou"> 
										<td>冷却塔1</td>
										<td></td>
										<td></td>
										<td>1.2</td>
									</tr>
									<tr class="trcolou">
										<td>冷却塔2</td>
										<td></td>
										<td></td>
										<td>0.9</td>
									</tr>
									<tr class="trcolou">
										<td colspan="4">(默认为空)</td>
									</tr>
								</table>
							</p>
				</div>
				<div class="cndm">
					<p class="titletb">图表&nbsp;21&nbsp;<span class="clolrred"> 室外湿球温度与冷却出水温度关系</span></p>
					<p class="BG_bfimg"><img src="/img/pgzd/log9.png"></p>
					<p>分析：该时间内，<span class="bgbj_text">冷却塔2</span>能效比偏低。<span class="clolrred">（默认为空）</span></p>
					<p>
						<div class="fx_quest">可能存在问题：
							<p>（1）<span class="bgbj_text">冷却管路设计不合理</span></p>
							<p>（2）<span class="bgbj_text">风机效率低</span></p>
							<p>（3）<span class="bgbj_text">填料污垢多</span></p>
							<p>（4）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
						</div>
					</p>
				</div>
				<div class="all_foun"> 
			<div class="ndhsk">	
		  	<div class="two_h4">三&nbsp;、&nbsp;诊断结果</div>		  
		  	<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;该段时间内，存在问题的设备，存在问题的设备，包括：<span class="bgbj_text">CCHP系统2，发电机1，。。。</span></p> </p>
		  	<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>主要影响：</p>
		  	<div class="all_pp">
		  	<p>负荷
		  		<div class="fx_quest">
					<p>（1）<span class="bgbj_text">室外环境影响</span></p>
					<p>（2）<span class="bgbj_text">用户端人员，设备，功能面积改变</span></p>
					<p>（3）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
				</div>
		  	</p>
		  	<p>冷热源
		  		<div class="fx_quest">
					<p>（1）<span class="bgbj_text">	CCHP子系统/常规调峰子系统/储能调峰子系统 性能较差；</span></p>
					<p>（2）<span class="bgbj_text">（2）	机组启停控制安排不合理</span></p>
					<p>（3）<span class="bgbj_text">供水温度设定不合理      </span></p>
					<p>（4）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
				</div>
		  	</p>
		  	<p>燃料
		  		<div class="fx_quest">
					<p>（1）<span class="bgbj_text">燃料热值偏低</span></p>
					<p>（2）<span class="bgbj_text">燃气输配压力不够</span></p>
					<p>（3）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
				</div>
		  	</p>
		  	<p>输配侧
		  		<div class="fx_quest">
					<p>（1）<span class="bgbj_text">温却水泵启停控制不合理</span></p>
					<p>（2）<span class="bgbj_text">冷却管路阻力过大</span></p>
					<p>（3）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
				</div>
		  	</p>
		  	<p>冷却侧
		  		<div class="fx_quest">
					<p>（1）<span class="bgbj_text bd_color">冷却水泵启停控制不合理</span></p>
					<p>（2）<span class="bgbj_text">冷却管路阻力过大</span></p>
					<p>（3）<span class="bgbj_text">冷却塔</span> </p>
					<p>（4）<span class="bgbj_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="clolrred">（默认为空）</span></p>
				</div>
		  	</p>
		  	</div>	
			</div>									
	</div>
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/zdbg'])
		});
	</script>
	<% include footer.html %>
