<% include header.html %>
	<script>
		requirejs(['../js/common'], function(common) {
			requirejs(['app/zdzn', "css!../../css/zdzn"])
		});
	</script>
	<!--诊断指南-->
	<div id="zdzn" class="my-section zdzn-wrapper">
		

		<div class="DZ_top">
			<h4 class="DZ_h4">诊断指南</h4>
			<div class="yy_hr"></div>
			<div class="DZ_btn">
				<div class="yy_yj">
					<img src="/img/pgzd/yj.png">
					<div class="yy_p">
						<span class="yy_title">套餐</span>
						<p>根据自己的需求</p>
						<p>选择诊断的套餐</p>
					</div>
				</div>

				<div class="yy_yj">
					<img src="/img/pgzd/2.png">
					<div class="yy_p">
						<span class="yy_title">申请</span>
						<p>进入套餐详情</p>
						<p>进行在线申请</p>
					</div>
				</div>

				<div class="yy_yj">
					<img src="/img/pgzd/3.png">
					<div class="yy_p">
						<span class="yy_title">诊断</span>
						<p>等待能效专家</p>
						<p>在线分析评估</p>
					</div>
				</div>

				<div class="yy_yj">
					<img src="/img/pgzd/4.png">
					<div class="yy_p">
						<span class="yy_title">报告</span>
						<p>在诊断报告页面</p>
						<p>查看进度和报告</p>
					</div>
				</div>
			</div>
		</div>

		<div class="DZ_content">
			<div class="zd_left">
				<p class="DZBU_title">专家团队</p>
				<div class="DZ_img">
					<img src="/img/pgzd/u44.jpg">
					<img src="/img/pgzd/u46.jpg">
					<img src="/img/pgzd/u48.jpg">
					<img src="/img/pgzd/u50.jpg">
					<img src="/img/pgzd/u46.jpg">
					<img src="/img/pgzd/u44.jpg">
					<img src="/img/pgzd/u48.jpg">
					<img src="/img/pgzd/u50.jpg">
				</div>
			</div>
			<div class="zd_right">
				<p style="margin-top: 20px;font-size: 20px;">客户评价</p>
				<div class="DZ_img">
					<div class="DZ_font">
						<div class="DZ_rightimg">
							<img src="/img/pgzd/u44.jpg">
						</div>
						<div class="DZ_text">
							<div class="DZ_nametext">
								<span>客户</span>
								<span>姓名</span>
							</div>
							<p><span class="DZ_span">我公司参检退休员工人数众多，且分布在上海各个地区，企业团检异常麻烦，往年总是消耗大量的人力物力。感谢你们提供的专业平台和无微不至的体检定制服务，让这项复杂困难的工作得以圆满完成。</span></p>
						</div>
					</div>

					<div class="DZ_font">
						<div class="DZ_rightimg">
							<img src="/img/pgzd/u46.jpg">
						</div>
						<div class="DZ_text">
							<div class="DZ_nametext">
								<span>客户</span>
								<span>姓名</span>
							</div>
							<p><span class="DZ_span">我们公司有8000多人，分散在全国3家工厂。一年一度的员工体检很是让人头疼。过去统一安排员工参检，组织协调起来很困难，员工又不满意。自从和关爱通合作后，真正做到了“企业统一采购、员工分散体检”，不仅解决了企业的难题，员工也更满意了。</span></p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="DZ_footer">
			<h4>诊断案例</h4>
			<div class="yy_hr"></div>
			<div class="footers">
				<p class="FOOT_title">亭湖医院泛能站能效诊断报告</p>
					<div class="DZ_pfont">
						<p>申请客户：<span class="ZN_name">张博</span></p>
						<p>诊断时间：<span class="ZN_name">2014年夏季8/9月份</span></p>
						<p>处理状态：<span class="ZN_name">已完成</span></p>
					</div>
					
			<div class="BG_all">
				<h4 class="tab_h4">一&nbsp;、&nbsp;项目概况</h4>
				<div id="BG_all" class="ZD_alltab">
					<div class="BG_contenrt">
						<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp;该泛能站位于&nbsp;<span class="bgbj_text">地点</span>。</p>
						<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp;包含业态类&nbsp;<span class="bgbj_text">办公楼（医院/学校/商场/酒店。。。）</span>，面积&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>m<sup>2</sup>。</p>
						<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;本次评估诊断分析的时间范围是&nbsp;<span class="bgbj_text">时间至时间</span>，属于<span class="bd_color">供冷季</span>，<span class="bd_color">设计冷负荷
						</span><span class="bgbj_text">&nbsp;&nbsp;</span>kw,设计电负荷&nbsp;<span class="bgbj_text">&nbsp;&nbsp;</span>kw。</p>
						<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp;<span class="bd_color">功能模式</span>下，工艺系统组成及运行时间，如下：
							<div class="BG_tabone">
								<table class="table table-bordered gridtable">
									<tr>
										<td>工艺系统组成</td>
										<td>运行时间 &nbsp;h</td>
									</tr>
									<tr>
										<td class="bd_color">CCHP子系统</td>
										<td></td>
									</tr>
									<tr>
										<td class="bd_color">常规调峰子系统
											<br/>(电制冷/溴化锂/地源热泵)</td>
										<td></td>
									</tr>
									<tr>
										<td class="bd_color">蓄能调峰子系统</td>
										<td></td>
									</tr>
									<tr>
										<td class="bd_color">冷温水输配子系统</td>
										<td></td>
									</tr>
									<tr>
										<td class="bd_color">冷却子系统</td>
										<td></td>
									</tr>
									<tr>
										<td class="bd_color">（可选）</td>
										<td></td>
									</tr>
								</table>
							</div>
						</p>
						<font class="bg_balgroud">注：&nbsp;诊断分析中的子系统与表中的关联一致</font>
						<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp; 该时间段内，泛能站供耗能组成如下：</p>	
							<div class="BG_two">
							<p>耗能：</p>
							<p class="imgs1"><img src="/img/pgzd/log.png"></p>
						<p>供能：</p>
						<div class="tab_one">
						<table class="table table-bordered gridtable">
							<tr>
								<td><span class="bd_color">供冷量</span>/kWh</td>
								<td>54</td>
							</tr>
							<tr>
								<td><span>发电量</span>/kWh</td>
								<td>455</td>
							</tr>
							<tr>
								<td><span>供生活热水</span>/kWh</td>
								<td>445</td>
							</tr>
							<tr>
								<td><span>供蒸汽</span>/kWh</td>
								<td>4654</td>
							</tr>
						</table>
						</div>
						<p class="imgs2"><img src="/img/pgzd/log2.png" ></p>
						</div>
					</div>
				</div>

				<div class="ZDFX">
					<h4 class="tab_h4">一&nbsp;、&nbsp;诊断分析过程</h4>
					<div class="ZD_alltab">
						<h4 class="BG_qjxt">1.系统全局层</h4>
						<div class="BS_rnte">
							<p><span>1.1负荷分析</span></p>
							<p class="BG_bg">图表&nbsp;1&nbsp;实际负荷与负荷指标对比</p>
							<p><img src="/img/pgzd/log3.png"></p>
							<h4>分析：</h4>
							<p>（1）<span class="bd_color">冷负荷</span>低于指标限值比例为<span class="bgbj_text">&nbsp;&nbsp;%</span>,高于指标限值比例为<span class="bgbj_text">&nbsp;&nbsp;%</span>，泛能站<span class="bd_color">冷负荷</span><span class="bgbj_text">正常（偏高）</span>；</p>
							<p>（2）电负荷低于指标限值比例为<span class="bgbj_text">&nbsp;&nbsp;%</span>,高于指标限值比例为<span class="bgbj_text">&nbsp;&nbsp;%</span>，泛能站电负荷<span class="bgbj_text">正常（偏高）</span>；</p>
							<p class="BG_bg">图表&nbsp;2&nbsp;<span class="bd_color">冷负荷</span>与室外温度关系</p>
							<p class="BG_bfimg"><img src="/img/pgzd/log4.png"></p>
							<div class="BG_fx1">
							<p>分析：</p>
							<p>（1）泛能站<span class="bd_color">冷负荷</span>与室外平均温度变化<span><span class="bd_color bgbj_text">呈正比关系</span>（不一致）</span>，<span><span class="bd_color bgbj_text">（正比关系显示结论）即室外温度越高，冷负荷越大。（不一致时显示结论）即冷负荷与室外温度相关性差</span></span>。</p>
							<hr>
							<p>（2）（正比关系显示结论）曲线波动可能是受到<span class="bgbj_text">日夜温差变化、空气湿度变化、太阳辐射度变化、医院人员流动变化、工作日/节假日等</span>因素影响。</p>
							<p>（不一致时显示结论）请核查该段时间内是否存在用户端突变情况、如供冷面积发生改变，人员流动突变，用户端增加大功率设备等。</p>
							<p>略、、、、、、、、、</p>
							</div>
			</div>
		</div>
	</div>
	<% include footer.html %>