.bgbj-wrapper{overflow: auto;background: #fff;}
.TAB_temp{width: 80%;margin-left: 10%;margin-top: 5%;}
.tab_hr{border-top: 2px solid dimgrey;}
.H3_title{text-align: center;}
.temps{padding-bottom: 5%;}
.ZD_alltab{margin-bottom: 5%;background-color:whitesmoke;margin-top:20px; -moz-box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);-webkit-box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);}
.BG_tabone{width: 50%;margin-left: 25%;}
.gridtable tr td{text-align: center;font-size: 15px;}
.BG_contenrt{padding-top: 30px;}
#ZDBG_content{display: none;}
.tab_black{width:5%}
.BG_contenrt,.BS_rnte{width: 70%;margin-left: 15%;}
.BG_contenrt,.BS_rnte p{font-size:18px;font-weight: 700;}
.BG_all{border-top: 2px solid #cccccc;width: 80%;margin-left: 10%;}
.tab_h4{margin-left: 10%;}.BS_rnte{padding-bottom: 30px;}
.bd_color{color: red;} .td_tr{ font-weight:normal;}
.bg_balgroud{background-color: yellow;}
.bgbj_text{text-decoration:underline;}
.btn_false{margin-left: 94%;background-color:darkgrey;-moz-border-radius: 50%;-webkit-border-radius: 50%;border:1px solid darkgray;padding:10px;}
.BG_two{margin-left: 5%;}.jn_img{margin-left: 30%;}
.tab_one{width: 60%;margin-left: 20%;}.img6{margin-left: 15%;}
.two_h4{border-bottom: 2px solid dimgrey;font-size: 20px;}
.BG_qjxt{margin-left: 5%;font-weight: 700;font-size: 19px;padding-top: 30px;}
.BG_bg{text-align: center;padding-top: 15px;}.img3{margin-left: 20%;}
.BG_bfimg{margin-left: 15%;}.BG_zhly{margin-left: 5%;}
.BG_fx1{margin-left: 8%;}.BG_jnfx{font-weight: 700;font-size: 19px;padding-top: 10px;}
.img1,.img2{width: 49%;}.fx_thre{margin-left: 5%;}.fx_quest{margin-left: 5%;}
.FOOT_H4{margin-top: 100px;position: relative;z-index:999;}
.footer_one{display: inline-block;float: right;width: 42%;}
.footer_two{width:46%;}.footer_hr{border: 1px solid darkgray;}
.footer_btn{padding: 5%;}.btn_butt{margin-left: 25%;}.modal{padding-top: 15%;}
.foot_fot{font-size: 30px;margin-left: 20%;}.btn_call button{margin-left: 20%;}
.modal-content p{text-align: center;margin-top: 30px;font-size: 15px;}.btn_call {margin-left: 15%;margin-top: 5%;margin-bottom: 30px;}
.mode_tan{height:50px;}
