.all_content{width: 95%; height: 100%; min-height: 100%x;margin: auto;}
.btn_one{margin-top: 7px;width: 180!important;}
#input1{width: 180px!important;display: inline-block;}
.class_img{height: 20px;}
.my-content{overflow: hidden!important;}
.button_tab{border: 1px solid #B1ACAC;position: absolute;width: 95%;overflow: auto;height: 84%;min-height: 84%;}
.jgfx-top-inner p{margin-left: 10px;}
.jgfx-top-inner{background: #f1f1f1;border: 1px solid #cccccc;border-radius: 5px;}
.top_searf{padding-top: 20px; padding-bottom: 20px;}
.tabdivl tr td span{cursor:pointer;}
