.all_content{width: 95%; height: 100%; min-height: 100%x;margin: auto;}
		.btn_one{margin-top: 7px;width: 180!important;}
		#input1{width: 180px!important;display: inline-block;}
		.tab_two2{overflow: auto; position: absolute!important;border: 1px solid #BDB6B6; width: 1310px; height: 100%; min-height: 100%;}
		.class_img{height: 20px;}
		.my-content{overflow: hidden!important;}
.button_tab{border: 1px solid #B1ACAC;}
