@charset "UTF-8";
/*能效监测*/
/*
.my-card:first-child { padding-bottom: 0; padding-right: 0;}
.my-card:nth-child(2) { padding-bottom: 0; }
.my-card:nth-child(3) {  padding-right: 0;}
.my-card:nth-child(1) > .my-card-top, 
.my-card:nth-child(3) > .my-card-top {
    padding-right: 0;
}
*/
.nxjc-chart-box {
  padding-top: 195px; }

.nxjc-gyxtxl-sele {
  width: 207px; }

.nxjc-gyxtxl-val {
  line-height: 34px;
  padding: 0 10px; }

.nxjc-pie {
  width: 24%;
  height: 80px;
  display: inline-block; }

.nxjc-pie {
  background: url("/../img/nxjc/nxjc-hover.png") no-repeat center 50px;
  cursor: pointer; }

.nxjc-gyxtxl-msg {
  line-height: 34px;
  padding-left: 20px; }

.xtzb-chart-box {
  padding-top: 155px; }

.chart-box-chart,
.chart-box-list {
  height: 100%; }

.nxjc-list-group {
  height: 100%; }

.nxjc-list-group > .list-group-item {
  height: 25%;
  margin-bottom: 0;
  cursor: pointer; }

.nxjc-list-group > .list-group-item:hover {
  background-color: #eee; }
