html{min-height: 100%;height: 100%;}
body{min-height: 100%;height: 100%;}
.bigdiv{width: 99%;height: 100%;min-height: 100%;}
.leftdiv{width: 14%;display: inline-block;height: 100%;min-height: 100%;border: 1px solid #D4D4D4;}
.uldiv{min-height: 100%;height: 100%;overflow: auto;}
.bt{position: absolute;width: 185px;}
.bt img{width: 25px;}
.bt{position: absolute;width: 185px;}
.bt img{width: 25px;}
ul li{list-style: none;}
#mymenu{height: 100%;min-height: 100%;overflow: auto;padding-top: 30px;display: none;}
li{ white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 112px;}
.one{padding-left: 2px;}
.serag{padding-top: 10px!important;}
.tab_bord{border: 1px solid #D4D4D4;}
.rightdiv{height:100%;min-height:100%;display: inline-block;float: right;width: 85%;}
.tabdiv{margin-top: 10px;height: 100%;min-height: 100%;overflow: auto;}
.caret{float: right!important;}
.btn_all{width: 160px!important;text-align: left!important;}
.group_ul{height: 150px;min-height: 150px;overflow: auto;width: 60px;}

