.tab_two2{width:98%;margin: auto; height: 100%;min-height:100%;margin-top: 15px;overflow: auto;border:1px solid #DDDDDD ;}
		.tab_bord{border: 1px solid #DDDDDD;}
		tr td{font-size: 1px;text-align: center!important;}		