@charset "UTF-8";
/*数据监测*/
.index {
  background-color: white; }

.sjjc-left-list {
  overflow: auto;
  position: relative;
  padding-top: 40px;
  line-height: 30px; }

.tab_all {
  overflow: auto;
  background-color: white;
  position: relative;
  height: 100%;
  min-height: 100%; }

.menu_list {
  width: 94%;
  margin-top: 5px; }

.clo_one {
  width: 100%; }

.menu_head {
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  margin: 1px;
  font-weight: bold;
  background: #f1f1f1 url(left.png) center right no-repeat; }

.menu_body {
  display: none; }

.menu_body a {
  display: block;
  color: #006699;
  background-color: #ffffff;
  width: 92%;
  line-height: 30px;
  padding-left: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-top: -5px; }

.menu_body a:hover {
  color: #000000;
  text-decoration: underline; }

.menu_li {
  list-style: none !important;
  line-height: 5px; }

.rodr span {
  color: black; }

.rodr {
  margin-left: 5px; }

.rodr li:hover {
  background-color: WhiteSmoke;
  text-decoration: none; }

.rodr span{font-size: 10px;}
.table {
  margin-top: 5px; }

.botton_all {
	    width: 85%;
  font-size: 100%; }

.index_all {
  float: left;
  width: 14%;
  height: 100%;
  background: #fff; }

.btn-group {
  width: 90%;
  line-height: 5em;
  position: absolute;
  z-index: 1; }

.panel-body {
  padding: 0px; }

a:hover {
  text-decoration: none; }

.h100 {
  min-height: 100%; }

.table_fon tr td {
  text-align: center; }

.tab_all ul {
  background-color: darkgrey;
  z-index: 999; }

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  float: right;
   }
   .nav-tabs > li a{color: white;}

.one_one, .two_right {
  display: inline-block;
  float: right;
  margin-left: 1em;
  width: 6%;
  line-height: 2em; }
 
 /*bug修改开始*/
.btn_coin{ cursor:pointer; width:18px; height:18px; display:inline-block; background:url(../img/sjjc/uill.png) no-repeat left center;
margin-left:10px; position:relative; top:4px;}

.btn_coin:hover{background: url(/img/sjjc/uikj.png) no-repeat left center;}

#classInstanceList li{ white-space:nowrap;text-overflow:ellipsis;}

/*bug修改结束*/

.two {
  display: none; }

div.sjjc-left-dropdown {
  position: absolute;
  z-index: 1; }
