.tbhb-switch-box {
  position: absolute;
  right: 35px;
  top: 1px; }

.nav-tabs > li > span.tbhb-words {
  color: #aaa;
  font-size: 14px; }

.tbhb-switch-box span {
  cursor: pointer; }

.active > .tbhb-circle {
  background: #7ac85b; }

.tbhb-circle {
  display: inline-block;
  background: #aaa;
  border-radius: 50%;
  width: 11px;
  height: 11px; }

.nav-tabs > li.active > span.tbhb-words {
  color: #000; }
