html,body{height: 100%;min-height: 100%; min-height: 100%;}
		.alldiv{height: 100%;min-height: 100%;position: absolute;width: 100%;overflow: hidden;}
		.leftdiv{position: absolute;overflow: auto;width: 14%;display: inline-block;height: 100%;min-height: 100%;border: 1px solid #D4D4D4;}
		.rightdiv{height: 100%;min-height: 100%; width: 84%;float: right;}
		#mymenu{height: 100%;min-height: 100%;padding-top: 30px;}
		.one ul li{ white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 120px;}
		.one{padding-left: 10px;}
		.ulli{padding-left: 10px;}
		.img_eld{width: 30px;}
		.bt{position: absolute;width: 170px;}
		.bt img{width: 25px;}
		h5{color: white;line-height: 32px;background-color: #1294B3;margin-top: 0px;}
		ul li{list-style: none;}
		.tab_two2{margin:auto;width:100%;overflow: auto;height: 98%;min-height: 100%;}
		.waitab{padding-top: 10px;}
		.tab_bord{border: 1px solid #cdcdcd;font-size: 14px;}
		.tab_bord tr td span{cursor:pointer;}