.tab_two2{width:98%;margin: auto; height: 100%;min-height:100%;overflow: auto;border:1px solid #DDDDDD ;}
		.my-content{overflow: hidden!important;}
		.tab_bord{border: 1px solid #DDDDDD;}
		tr td{text-align: center!important;}