.tab_two2{width:98%;margin: auto; height: 100%;min-height:100%;overflow: auto;border:1px solid #DDDDDD ;padding-top: 20px;}
.my-content{overflow: hidden!important;}
.tab_bord{border: 1px solid #BDBABA;}
tr td{text-align: center!important;}
.tab_bord tr td span{cursor:pointer;}		
