	   	.yyzd-wrapper{overflow: auto;    background: #fff;}
	   	#yyzd_top{padding-bottom: 20px;}
	    .YZ_one{border:1px solid #cccccc; width:70%;margin-top: 5%;margin-left:15%;overflow: hidden;}
		.NX_tiyle{background-color:gray;height: 40px;margin-top: -10px;}
		.YZ_one img{width:100%;height: 40px}
		.YZ_left{padding: 20px;width: 25%;height: 65%;float: left; }
		.YZ_left img{width: 100%;height:100%;}
		.YZ_right{float: right;width:72%;margin-top: 4%;}
		.YZ_font{width: 70%;display: inline-block;}
		.tab_h4{margin-left: 10%;}.zd_font{
            padding-top: 10px;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 18px; color: #fff;
        }
		.btn_xq{margin-left: 5%;}.dz_secle{width: 30%;}
		.tab_hr{border-top: 2px solid dimgrey;width: 80%;margin-left: 10%;}
		.tab_img{display: none;}.all_select{text-align: center;}
		.TAB_zd{width: 80%;margin-left: 10%;}.diamo{margin-top: 17%!important;margin-left: 35%!important;}
		.tab_img img{width: 5%;}.all_select p{padding-top: 3%;}
		.btn_footrt{margin-left: 30%;}.all_select{width: 70%;}
		.btn_right{margin-left: 30%;}.btn_sel{padding-bottom: 30px;padding-top: 30px!important;}
		.gridtable tr td{text-align: center;}
		.btn_footrt{margin-bottom: 30px;}
		.tr_left{text-align: center;}
		.tr_left,.tr_right{width: 50%;}
