.zdbg-wrapper{overflow: auto;background: #fff;}
.TAB_temp{width: 80%;margin-left: 10%;margin-top: 5%;}
.tab_hr{border-top: 2px solid dimgrey;}
.H3_title{text-align: center;}
.temps{padding-bottom: 5%;}
.ZD_alltab{display:none;margin-bottom: 5%;background-color:whitesmoke;width:80%;margin-left:10%;margin-top:20px; -moz-box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);-webkit-box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);}
.gridtable{margin-top: 2%;}
.text{width:90%;margin-left: 5%;padding-top: 5%;}
.ZD_name{float: right;}
.gridtable tr td a{text-decoration:underline;}
.text span{font-size:18px;}
.BT_colr{color:#006699;font-size:18px;}
.ZD_linep{font-size:15px;}
.ZD_span{font-size:15px;}
.tab_geid{width: 40%;margin-left: 30%;}
.imgs_img{margin-left: 30%;}
.ZD_allfont{margin-top: 12%;padding-bottom: 2%;}
.zd_a,.zd_a:hover{color: #cccccc;}
.BG_tabone{width: 50%;margin-left: 25%;}
.gridtable tr td{text-align: center;font-size: 15px;}
.BG_contenrt{padding-top: 30px;}
.tab_black{width:5%}
.BG_contenrt,.BS_rnte{width: 70%;margin-left: 15%;}
.BG_contenrt,.BS_rnte p{font-size:18px;}
.BG_all{border-top: 2px solid #cccccc;width: 80%;margin-left: 10%;}
.tab_h4{margin-left: 10%;}.BS_rnte{padding-bottom: 30px;}
.bd_color{color: red;} .td_tr{ font-weight:normal;}
.bg_balgroud{background-color: yellow;}
.bgbj_text{text-decoration:underline;}.all_foun{margin-left: 15%;padding-bottom: 30px;}
.BG_two{margin-left: 5%;}.jn_img{margin-left: 30%;}
.tab_one{width: 60%;margin-left: 20%;}.img6{margin-left: 15%;}
.two_h4{font-size: 20px;margin-top: 13%;}.all_foun p{font-size: 18px;}
.BG_qjxt{margin-left: 5%;font-weight: 700;font-size: 19px;padding-top: 30px;}
.BG_bg{text-align: center;padding-top: 15px;}.img3{margin-left: 20%;}
.BG_bfimg{margin-left: 15%;}.BG_zhly{margin-left: 5%;}
.BG_fx1{margin-left: 8%;}.BG_jnfx{font-weight: 700;font-size: 19px;padding-top: 10px;}
.img1,.img2{width: 49%;}.fx_thre{margin-left: 5%;}.fx_quest{margin-left: 5%;}
.FOOT_H4{margin-top: 100px;position: relative;z-index:999;}
.all_pp{margin-left: 5%;} .bg_use{border-bottom: 1px solid dimgrey;padding-bottom: 20px;}
.bg_use{border-bottom: 2px solid darkgrey;}.bf_fk{margin-left: 10%;width: 80%;padding-bottom: 20px;}
.BF_p{width: 95%;margin-left: 2%;height:100px;background-color: darkgrey;}.bg_fk{margin-left:90%;margin-top: 30px;}
