#index{height:100%;}

.w92{width: 92px;}

.tabs{position: absolute;right: 10px;top:10px;width:200px;height: 25px;overflow: hidden;zoom: 1;}
.tabs .tab-btn{float: left;margin: 0 15px;cursor: pointer;}
.tabs .tab-btn:hover{text-decoration: underline;}

.swiper-contents{}
.swiper-content{
	position: absolute;
	right: 10px;
	top:30px;
	display: none;
	min-height: 570px;
	height: 100%
	/*transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform-origin:100% 0%;
	-webkit-transform-origin:100% 0%;
	-ms-transform-origin:100% 0%;
	-o-transform-origin:100% 0%;
	-moz-transform-origin:100% 0%;*/
}
.swiper-content.cur{display: block;}

/*@media screen and (min-width: 1367px) and (max-width: 1599px){
	.swiper-content{
		transform:scale(1.2);
		-webkit-webtransform:scale(1.2);
		-o-webtransform:scale(1.2);
		-ms-webtransform:scale(1.2);
		-moz-webtransform:scale(1.2);
	}
}
@media screen and (min-width: 1600px){
	.swiper-content{
		transform:scale(1.5);
		-webkit-webtransform:scale(1.5);
		-o-webtransform:scale(1.5);
		-ms-webtransform:scale(1.5);
		-moz-webtransform:scale(1.5);
	}
}*/

.swiper-container{width:460px;height: 100%;}
.swiper-button-prev{background: url(../../images/index/index_right_left_btn.png) no-repeat;}
.swiper-button-next{background: url(../../images/index/index_right_right_btn.png) no-repeat;}
.swiper-container-horizontal>.swiper-pagination{bottom: 0;}
.swiper-pagination-bullet{background-color: #000;}
.swiper-pagination-bullet-active{background-color: #00a7eb;}

ul.image-show{height: 100%;width: 100%;}
ul.image-show li{background: url(../../images/index/index_right_ul_li_bg.png) no-repeat center;width:400px;height: 205px;margin: 0px auto;position: relative;color:#328dde;}
ul.image-show li a{display: block;width: 100%;height: 100%;}
ul.image-show li a:link,.swiper-container .swiper-wrapper .swiper-slide ul li a:visited{color:#328dde;}
ul.image-show li.cur{background-image: url(../../images/index/index_right_ul_li_bg_cur.png);color:#23b473;}
ul.image-show li.cur a:link,.swiper-container .swiper-wrapper .swiper-slide ul li.cur a:visited{color:#23b473;}
ul.image-show li div.index-right-locate{position: absolute;font-size: 12px;top: 148px;left: 45px;}
ul.image-show li div.index-right-locate b{font-size: 15px;position: absolute;left: 0;top: 25px;}
ul.image-show li div.image{width:105px;height: 105px;position: absolute;top:46px;left: 160px;}
ul.image-show li.cur div.image{display: none;}
ul.image-show li div.image img{width: 100%;height: 100%;border-radius: 50%;}
ul.image-show li div.inner-right{position: absolute;right: 10px;top: 120px;font-size: 12px;font-weight: bold;width: 130px;height: 40px;}
ul.image-show li div.inner-right div.datas{position: absolute;}
ul.image-show li div.inner-right div.datas span{display: block;width: 54px;text-align: center;}
ul.image-show li div.inner-right div.architecture{left: 11px;}
ul.image-show li div.inner-right div.energysupply{left: 67px;}
ul.image-show li div.inner-right div.station-type{position: absolute;font-size: 15px;top: 54px;right: 30px;padding-left: 20px;}
ul.image-show li div.inner-right div.station-type1{background: url(../../images/index/index_right_icon1.png) no-repeat left center;}
ul.image-show li div.inner-right div.station-type2{background: url(../../images/index/index_right_icon2.png) no-repeat left center;}

ul.block-show{overflow: hidden;zoom: 1;width: 375px;margin: 10px auto;}
ul.block-show li{float: left;margin: 5px 10px 0 0;}
ul.block-show li:nth-child(3n){margin-right: 0;}

#allmap{width: 100%;height: 100%;}
.anchorBL{display: none;}
.BMap_stdMpPan{display: none;}

.search-section{overflow: hidden;zoom: 1;box-shadow: 3px 3px 0 rgba(0,0,0,0.6);position: absolute;left: 10px;top:10px;}
.search-section .search-input{float: left;width:228px;height: 28px;padding: 0;margin: 0;border: none;padding-left: 5px;}
.search-section .search-btn{float: left;width: 51px;height: 28px;border:none;outline: none;background: url('../img/index/search_btn.png') no-repeat;cursor: pointer;}
